# Analysis and Findings

In [1]:
import pandas as pd
import os

In [2]:
os.chdir('../')

In [3]:
path_to_processed_data="2. Processed data/"

In [4]:
final_df=pd.read_csv(path_to_processed_data+"Final_combined_output_485272_ADBS.csv",index_col=None,low_memory=False)

In [5]:
final_df[["INSTNM","AWLEVEL","distance (in miles)"]]

                                     INSTNM  AWLEVEL  distance (in miles)
0                          Barry University        5            10.379378
1                           Broward College        3            24.868305
2                           Broward College        5            24.868305
3         Concorde Career Institute-Miramar        3            12.013463
4          Florida International University        5             4.034913
5              Florida Career College-Miami        3             3.944969
6           Keiser University-Ft Lauderdale        3            28.320117
7           Keiser University-Ft Lauderdale        5            28.320117
8                        Miami Dade College        3            10.016906
9                        Miami Dade College        5            10.016906
10                      University of Miami        5             7.524966
11             Nova Southeastern University        5            19.676945
12                     St Thomas University        5             9.676303
13             City College-Fort Lauderdale        3            28.260589
14  Florida National University-Main Campus        3             3.876360
15  Florida National University-Main Campus        5             3.876360
16  ITT Technical Institute-Fort Lauderdale        3            19.455736
17          ITT Technical Institute-Hialeah        3             9.504316
18                       City College-Miami        3             8.990605
19                  Advance Science College        3             3.986799
20                  Universal Career School        3             3.322094
21               Brown Mackie College-Miami        3            11.273295
22                            SABER College        3             6.015922
23                Miami Regional University        3             5.016090
24                Miami Regional University        5             5.016090
25                            Orion College        3            26.413982
26                            Orion College        5            26.413982
27                    Future-Tech Institute        3             6.782735
28                 American Medical Academy        3            10.612857
29              West Coast University-Miami        5             0.000000
30                   Florida Career College        3            15.207454
31  Florida Career College-Lauderdale Lakes        3            26.075460
32           Florida Career College-Kendall        3             8.562086
33      Med-Life Institute-Lauderdale Lakes        3            26.734850
34        Hope College of Arts and Sciences        3            31.475587
35                Fortis College-Cutler Bay        3            15.583195

In [6]:
final_df["Rank"] = final_df["CTOTALT_2018"].rank(ascending=False) 
# final_df[["CTOTALT_2018"]]

## Highest number of completions for the most recent year

## Awards/degrees conferred across all race/ethnicities and both genders

In [7]:
final_df[["INSTNM","Rank","CTOTALT_2018"]].sort_values(by="Rank")

                                     INSTNM  Rank  CTOTALT_2018
6           Keiser University-Ft Lauderdale   1.0         559.0
8                        Miami Dade College   2.0         531.0
11             Nova Southeastern University   3.0         411.0
23                Miami Regional University   4.0         381.0
4          Florida International University   5.0         348.0
1                           Broward College   6.0         296.0
9                        Miami Dade College   7.0         282.0
22                            SABER College   8.0         181.0
10                      University of Miami   9.0         174.0
29              West Coast University-Miami  10.0         130.0
15  Florida National University-Main Campus  11.0         122.0
2                           Broward College  12.0         117.0
7           Keiser University-Ft Lauderdale  13.0         110.0
3         Concorde Career Institute-Miramar  14.0          76.0
33      Med-Life Institute-Lauderdale Lakes  15.0          70.0
20                  Universal Career School  16.0          67.0
14  Florida National University-Main Campus  17.0          66.0
0                          Barry University  18.0          62.0
31  Florida Career College-Lauderdale Lakes  19.0          38.0
35                Fortis College-Cutler Bay  20.0          36.0
30                   Florida Career College  21.0          32.0
24                Miami Regional University  22.0          29.0
28                 American Medical Academy  23.0          15.0
18                       City College-Miami  24.0          10.0
34        Hope College of Arts and Sciences  25.0           6.0
12                     St Thomas University  26.0           3.0
27                    Future-Tech Institute  27.5           0.0
19                  Advance Science College  27.5           0.0
5              Florida Career College-Miami   NaN           NaN
13             City College-Fort Lauderdale   NaN           NaN
16  ITT Technical Institute-Fort Lauderdale   NaN           NaN
17          ITT Technical Institute-Hialeah   NaN           NaN
21               Brown Mackie College-Miami   NaN           NaN
25                            Orion College   NaN           NaN
26                            Orion College   NaN           NaN
32           Florida Career College-Kendall   NaN           NaN

## Average Completion for the Last 5 years

In [8]:
final_df['Avg_completion_5yrs'] = final_df[['CTOTALT_2018', 'CTOTALT_2017','CTOTALT_2016','CTOTALT_2015','CTOTALT_2014']].mean(axis=1)

T1

In [9]:
Table_last=final_df[["INSTNM","AWLEVEL","LATITUDE","LONGITUD","distance (in miles)",'CTOTALT_2018', 'CTOTALT_2017','CTOTALT_2016','CTOTALT_2015','CTOTALT_2014',"Avg_completion_5yrs"]].sort_values(by="Avg_completion_5yrs",ascending=False)
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,Avg_completion_5yrs
8,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,530.200000
6,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,486.000000
11,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,401.200000
1,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,314.800000
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,314.400000
9,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,304.800000
23,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,232.800000
10,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,177.400000
22,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,176.800000
0,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,124.200000
2,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,99.200000
21,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,84.750000
5,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,84.000000
14,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,82.800000
15,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,77.800000
7,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,72.600000
3,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,44.800000
31,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,40.500000
29,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,36.400000
35,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,36.000000
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,33.500000
32,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,27.000000
16,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,26.500000
13,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,24.500000
33,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,23.666667
17,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,22.000000
18,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,17.800000
30,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,17.250000
24,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,12.750000
25,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,12.500000
28,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,9.000000
34,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,2.666667
12,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,1.000000
19,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,0.000000
26,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,0.000000
27,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,0.000000

## Retention Rate  (Rank based on Recent year Student faculty Ratio)

In [10]:
# final_df["Rank"] = final_df["CTOTALT_2018"].rank(ascending=False) 
final_df['Rank_Stdentfacult']=final_df["STUFACR _2017"].rank(ascending=False)

T2 (No need rank)

In [11]:
Table_last=Table_last.merge(final_df[["INSTNM","STUFACR _2017","AWLEVEL"]],how="left",on=["INSTNM","AWLEVEL"])

In [12]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,Avg_completion_5yrs,STUFACR _2017
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,530.200000,19.0
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,486.000000,12.0
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,401.200000,17.0
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,314.800000,27.0
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,314.400000,27.0
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,304.800000,19.0
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,232.800000,13.0
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,177.400000,12.0
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,176.800000,28.0
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,124.200000,13.0
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,99.200000,27.0
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,84.750000,18.0
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,84.000000,15.0
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,82.800000,31.0
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,77.800000,31.0
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,72.600000,12.0
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,44.800000,32.0
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,40.500000,15.0
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,36.400000,14.0
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,36.000000,24.0
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,33.500000,29.0
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,27.000000,NaN
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,26.500000,NaN
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,24.500000,11.0
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,23.666667,10.0
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,22.000000,NaN
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,17.800000,10.0
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,17.250000,15.0
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,12.750000,13.0
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,12.500000,25.0
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,9.000000,6.0
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,2.666667,9.0
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,1.000000,11.0
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,0.000000,15.0
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,0.000000,25.0
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,0.000000,17.0

### Full-time cohort includes full-time first-time degree/certificate seeking students enrolled at the institution in the fall of the prior year (including those enrolled for the first time the preceding summer term and those whose intent was not known upon entry to the institution).

In [13]:
final_df['Rank_retention']=final_df["RRFTCT_2017"].rank(ascending=False)

In [14]:
final_df[["INSTNM","RRFTCT_2017","Rank_retention"]].sort_values(by="Rank_retention")

                                     INSTNM  RRFTCT_2017  Rank_retention
4          Florida International University       4159.0             1.0
10                      University of Miami       2042.0             2.0
6           Keiser University-Ft Lauderdale        972.0             3.5
7           Keiser University-Ft Lauderdale        972.0             3.5
11             Nova Southeastern University        647.0             5.0
0                          Barry University        479.0             6.0
31  Florida Career College-Lauderdale Lakes        248.0             7.0
12                     St Thomas University        193.0             8.0
30                   Florida Career College        170.0             9.0
22                            SABER College        150.0            10.0
3         Concorde Career Institute-Miramar        143.0            11.0
5              Florida Career College-Miami        117.0            12.0
27                    Future-Tech Institute         92.0            13.0
14  Florida National University-Main Campus         71.0            14.5
15  Florida National University-Main Campus         71.0            14.5
28                 American Medical Academy         70.0            16.0
35                Fortis College-Cutler Bay         38.0            17.0
20                  Universal Career School         36.0            18.0
25                            Orion College         18.0            19.5
26                            Orion College         18.0            19.5
19                  Advance Science College         11.0            21.0
29              West Coast University-Miami          7.0            22.0
33      Med-Life Institute-Lauderdale Lakes          1.0            23.0
23                Miami Regional University          0.0            28.0
24                Miami Regional University          0.0            28.0
13             City College-Fort Lauderdale          0.0            28.0
8                        Miami Dade College          0.0            28.0
18                       City College-Miami          0.0            28.0
2                           Broward College          0.0            28.0
1                           Broward College          0.0            28.0
9                        Miami Dade College          0.0            28.0
34        Hope College of Arts and Sciences          0.0            28.0
16  ITT Technical Institute-Fort Lauderdale          NaN             NaN
17          ITT Technical Institute-Hialeah          NaN             NaN
21               Brown Mackie College-Miami          NaN             NaN
32           Florida Career College-Kendall          NaN             NaN

In [15]:
final_df[["INSTNM","GRCOHRT_2017"]]

                                     INSTNM  GRCOHRT_2017
0                          Barry University         604.0
1                           Broward College        3298.0
2                           Broward College        3298.0
3         Concorde Career Institute-Miramar           NaN
4          Florida International University        3489.0
5              Florida Career College-Miami           NaN
6           Keiser University-Ft Lauderdale        4097.0
7           Keiser University-Ft Lauderdale        4097.0
8                        Miami Dade College        8783.0
9                        Miami Dade College        8783.0
10                      University of Miami        2185.0
11             Nova Southeastern University         976.0
12                     St Thomas University         229.0
13             City College-Fort Lauderdale          14.0
14  Florida National University-Main Campus         472.0
15  Florida National University-Main Campus         472.0
16  ITT Technical Institute-Fort Lauderdale           NaN
17          ITT Technical Institute-Hialeah           NaN
18                       City College-Miami           9.0
19                  Advance Science College           NaN
20                  Universal Career School           NaN
21               Brown Mackie College-Miami          15.0
22                            SABER College           NaN
23                Miami Regional University           NaN
24                Miami Regional University           NaN
25                            Orion College           NaN
26                            Orion College           NaN
27                    Future-Tech Institute           NaN
28                 American Medical Academy           NaN
29              West Coast University-Miami           7.0
30                   Florida Career College           NaN
31  Florida Career College-Lauderdale Lakes           NaN
32           Florida Career College-Kendall           NaN
33      Med-Life Institute-Lauderdale Lakes           8.0
34        Hope College of Arts and Sciences           NaN
35                Fortis College-Cutler Bay           NaN

## 12- month erollment Grand total (12-month unduplicated headcount)

In [16]:
final_df[["EFYTOTLT_2018","EFYTOTLT_2017","EFYTOTLT_2016","EFYTOTLT_2015","EFYTOTLT_2014"]]

    EFYTOTLT_2018  EFYTOTLT_2017  EFYTOTLT_2016  EFYTOTLT_2015  EFYTOTLT_2014
0          3935.0         4191.0         4403.0         4722.0         5076.0
1         60896.0        62013.0        63024.0        63389.0        62508.0
2         60896.0        62013.0        63024.0        63389.0        62508.0
3           951.0          930.0          855.0          868.0          926.0
4         58244.0        55835.0        55100.0        55173.0        53525.0
5           824.0          644.0          483.0          556.0         9902.0
6         31911.0        31711.0        32937.0        31000.0        32135.0
7         31911.0        31711.0        32937.0        31000.0        32135.0
8         88475.0        88312.0        91749.0        95821.0        97341.0
9         88475.0        88312.0        91749.0        95821.0        97341.0
10        11984.0        12002.0        12243.0        12432.0        12325.0
11         5026.0         4840.0         5136.0         5400.0         5780.0
12         3701.0         3860.0         3753.0         3402.0         3582.0
13          565.0          675.0          780.0          893.0          950.0
14         6909.0         6914.0         5901.0         5405.0         5588.0
15         6909.0         6914.0         5901.0         5405.0         5588.0
16            NaN            NaN            NaN         1007.0         1064.0
17            NaN            NaN            NaN          735.0          747.0
18          293.0          392.0          487.0          447.0          416.0
19           88.0           80.0           73.0           63.0           52.0
20          236.0          301.0          163.0          144.0          148.0
21            NaN          230.0          631.0         1128.0         1500.0
22          473.0          675.0          813.0          834.0          748.0
23         1271.0         1260.0         1770.0         1208.0         1156.0
24         1271.0         1260.0         1770.0         1208.0         1156.0
25            NaN          353.0          514.0          717.0          988.0
26            NaN          353.0          514.0          717.0          988.0
27          134.0          117.0          145.0          166.0          150.0
28          769.0          665.0          642.0          502.0          471.0
29         1085.0          748.0          514.0          252.0           15.0
30         1141.0          967.0          685.0          773.0            NaN
31         1334.0         1390.0         1272.0         1090.0            NaN
32            NaN            NaN          196.0          619.0            NaN
33           79.0           72.0          104.0            NaN            NaN
34          137.0          131.0          107.0            NaN            NaN
35          415.0          418.0            NaN            NaN            NaN

In [17]:
final_df['Avg_12mEnroll_5yrs'] = final_df[["EFYTOTLT_2018","EFYTOTLT_2017","EFYTOTLT_2016","EFYTOTLT_2015","EFYTOTLT_2014"]].mean(axis=1)

T3

In [18]:
final_df[["INSTNM","EFYTOTLT_2018","EFYTOTLT_2017","EFYTOTLT_2016","EFYTOTLT_2015","EFYTOTLT_2014","Avg_12mEnroll_5yrs"]].sort_values(by="Avg_12mEnroll_5yrs",ascending=False)

,INSTNM,EFYTOTLT_2018,EFYTOTLT_2017,EFYTOTLT_2016,EFYTOTLT_2015,EFYTOTLT_2014,Avg_12mEnroll_5yrs
8,Miami Dade College,88475.0,88312.0,91749.0,95821.0,97341.0,92339.60
9,Miami Dade College,88475.0,88312.0,91749.0,95821.0,97341.0,92339.60
2,Broward College,60896.0,62013.0,63024.0,63389.0,62508.0,62366.00
1,Broward College,60896.0,62013.0,63024.0,63389.0,62508.0,62366.00
4,Florida International University,58244.0,55835.0,55100.0,55173.0,53525.0,55575.40
6,Keiser University-Ft Lauderdale,31911.0,31711.0,32937.0,31000.0,32135.0,31938.80
7,Keiser University-Ft Lauderdale,31911.0,31711.0,32937.0,31000.0,32135.0,31938.80
10,University of Miami,11984.0,12002.0,12243.0,12432.0,12325.0,12197.20
14,Florida National University-Main Campus,6909.0,6914.0,5901.0,5405.0,5588.0,6143.40
15,Florida National University-Main Campus,6909.0,6914.0,5901.0,5405.0,5588.0,6143.40
11,Nova Southeastern University,5026.0,4840.0,5136.0,5400.0,5780.0,5236.40
0,Barry University,3935.0,4191.0,4403.0,4722.0,5076.0,4465.40
12,St Thomas University,3701.0,3860.0,3753.0,3402.0,3582.0,3659.60
5,Florida Career College-Miami,824.0,644.0,483.0,556.0,9902.0,2481.80
23,Miami Regional University,1271.0,1260.0,1770.0,1208.0,1156.0,1333.00
24,Miami Regional University,1271.0,1260.0,1770.0,1208.0,1156.0,1333.00
31,Florida Career College-Lauderdale Lakes,1334.0,1390.0,1272.0,1090.0,NaN,1271.50
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,1007.0,1064.0,1035.50
3,Concorde Career Institute-Miramar,951.0,930.0,855.0,868.0,926.0,906.00
30,Florida Career College,1141.0,967.0,685.0,773.0,NaN,891.50
21,Brown Mackie College-Miami,NaN,230.0,631.0,1128.0,1500.0,872.25
13,City College-Fort Lauderdale,565.0,675.0,780.0,893.0,950.0,772.60
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,735.0,747.0,741.00
22,SABER College,473.0,675.0,813.0,834.0,748.0,708.60
25,Orion College,NaN,353.0,514.0,717.0,988.0,643.00
26,Orion College,NaN,353.0,514.0,717.0,988.0,643.00
28,American Medical Academy,769.0,665.0,642.0,502.0,471.0,609.80
29,West Coast University-Miami,1085.0,748.0,514.0,252.0,15.0,522.80
35,Fortis College-Cutler Bay,415.0,418.0,NaN,NaN,NaN,416.50
32,Florida Career College-Kendall,NaN,NaN,196.0,619.0,NaN,407.50
18,City College-Miami,293.0,392.0,487.0,447.0,416.0,407.00
20,Universal Career School,236.0,301.0,163.0,144.0,148.0,198.40
27,Future-Tech Institute,134.0,117.0,145.0,166.0,150.0,142.40
34,Hope College of Arts and Sciences,137.0,131.0,107.0,NaN,NaN,125.00
33,Med-Life Institute-Lauderdale Lakes,79.0,72.0,104.0,NaN,NaN,85.00
19,Advance Science College,88.0,80.0,73.0,63.0,52.0,71.20

In [19]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","EFYTOTLT_2018","EFYTOTLT_2017","EFYTOTLT_2016","EFYTOTLT_2015","EFYTOTLT_2014","Avg_12mEnroll_5yrs"]],on=["INSTNM","AWLEVEL"])

In [20]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,Avg_completion_5yrs,STUFACR _2017,EFYTOTLT_2018,EFYTOTLT_2017,EFYTOTLT_2016,EFYTOTLT_2015,EFYTOTLT_2014,Avg_12mEnroll_5yrs
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,530.200000,19.0,88475.0,88312.0,91749.0,95821.0,97341.0,92339.60
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,486.000000,12.0,31911.0,31711.0,32937.0,31000.0,32135.0,31938.80
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,401.200000,17.0,5026.0,4840.0,5136.0,5400.0,5780.0,5236.40
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,314.800000,27.0,60896.0,62013.0,63024.0,63389.0,62508.0,62366.00
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,314.400000,27.0,58244.0,55835.0,55100.0,55173.0,53525.0,55575.40
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,304.800000,19.0,88475.0,88312.0,91749.0,95821.0,97341.0,92339.60
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,232.800000,13.0,1271.0,1260.0,1770.0,1208.0,1156.0,1333.00
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,177.400000,12.0,11984.0,12002.0,12243.0,12432.0,12325.0,12197.20
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,176.800000,28.0,473.0,675.0,813.0,834.0,748.0,708.60
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,124.200000,13.0,3935.0,4191.0,4403.0,4722.0,5076.0,4465.40
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,99.200000,27.0,60896.0,62013.0,63024.0,63389.0,62508.0,62366.00
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,84.750000,18.0,NaN,230.0,631.0,1128.0,1500.0,872.25
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,84.000000,15.0,824.0,644.0,483.0,556.0,9902.0,2481.80
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,82.800000,31.0,6909.0,6914.0,5901.0,5405.0,5588.0,6143.40
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,77.800000,31.0,6909.0,6914.0,5901.0,5405.0,5588.0,6143.40
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,72.600000,12.0,31911.0,31711.0,32937.0,31000.0,32135.0,31938.80
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,44.800000,32.0,951.0,930.0,855.0,868.0,926.0,906.00
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,40.500000,15.0,1334.0,1390.0,1272.0,1090.0,NaN,1271.50
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,36.400000,14.0,1085.0,748.0,514.0,252.0,15.0,522.80
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,36.000000,24.0,415.0,418.0,NaN,NaN,NaN,416.50
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,33.500000,29.0,236.0,301.0,163.0,144.0,148.0,198.40
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,27.000000,NaN,NaN,NaN,196.0,619.0,NaN,407.50
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,26.500000,NaN,NaN,NaN,NaN,1007.0,1064.0,1035.50
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,24.500000,11.0,565.0,675.0,780.0,893.0,950.0,772.60
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,23.666667,10.0,79.0,72.0,104.0,NaN,NaN,85.00
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,22.000000,NaN,NaN,NaN,NaN,735.0,747.0,741.00
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,17.800000,10.0,293.0,392.0,487.0,447.0,416.0,407.00
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,17.250000,15.0,1141.0,967.0,685.0,773.0,NaN,891.50
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,12.750000,13.0,1271.0,1260.0,1770.0,1208.0,1156.0,1333.00
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,12.500000,25.0,NaN,353.0,514.0,717.0,988.0,643.00
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,9.000000,6.0,769.0,665.0,642.0,502.0,471.0,609.80
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,2.666667,9.0,137.0,131.0,107.0,NaN,NaN,125.00
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,1.000000,11.0,3701.0,3860.0,3753.0,3402.0,3582.0,3659.60
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,0.000000,15.0,88.0,80.0,73.0,63.0,52.0,71.20
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,0.000000,25.0,NaN,353.0,514.0,717.0,988.0,643.00
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,0.000000,17.0,134.0,117.0,145.0,166.0,150.0,142.40

## (12-month instructional activity) 12-month instructional activity credit hours: undergraduates

In [21]:
final_df[["CDACTUA_2017","CDACTUA_2016","CDACTUA_2015","CDACTUA_2014"]]

    CDACTUA_2017  CDACTUA_2016  CDACTUA_2015  CDACTUA_2014
0        99332.0      104196.0      112054.0      118131.0
1       878728.0      895229.0      894803.0      911117.0
2       878728.0      895229.0      894803.0      911117.0
3         6018.0        7308.0        6337.0        6616.0
4      1117621.0     1095364.0     1087712.0     1069136.0
5        15456.0       11592.0       13344.0      292031.0
6       793224.0      607862.0      614007.0      624170.0
7       793224.0      607862.0      614007.0      624170.0
8      1330518.0     1439563.0     1508894.0     1544273.0
9      1330518.0     1439563.0     1508894.0     1544273.0
10      321135.0      328181.0      330625.0      324191.0
11      119598.0      122951.0      125567.0      130967.0
12       45314.0       26641.0       40649.0       46310.0
13       17247.0       19516.0       22190.0       24907.0
14      153798.0      128958.0      119172.0      123162.0
15      153798.0      128958.0      119172.0      123162.0
16           NaN           NaN       25496.0       25761.0
17           NaN           NaN       15939.0       17493.0
18       10093.0       11982.0       11436.0       12353.0
19           NaN         492.0           NaN           NaN
20        1140.0         735.0           NaN           NaN
21        5563.0       17296.0       32970.0       40912.0
22       15615.0       15584.0       16511.0       14156.0
23       37800.0       31620.0       32932.0       37802.0
24       37800.0       31620.0       32932.0       37802.0
25       10741.0       14241.0       19460.0       31437.0
26       10741.0       14241.0       19460.0       31437.0
27        3373.0        4389.0        5008.0        4511.0
28        1344.0         267.0         402.0         582.0
29       16482.0       10333.0        3493.0          73.0
30       23208.0       16440.0       18552.0           NaN
31       33360.0       30528.0       26160.0           NaN
32           NaN        4704.0       14856.0           NaN
33        1500.0         364.0           NaN           NaN
34         170.0         180.0           NaN           NaN
35       12540.0           NaN           NaN           NaN

In [22]:
final_df['Avg_12mEnrollInst_5yrs'] = final_df[["CDACTUA_2018","CDACTUA_2017","CDACTUA_2016","CDACTUA_2015","CDACTUA_2014"]].mean(axis=1)

T4

In [23]:
final_df[["INSTNM","CDACTUA_2017","CDACTUA_2017","CDACTUA_2016","CDACTUA_2015","CDACTUA_2014","Avg_12mEnrollInst_5yrs"]].sort_values(by="Avg_12mEnrollInst_5yrs",ascending=False)

,INSTNM,CDACTUA_2017,CDACTUA_2017,CDACTUA_2016,CDACTUA_2015,CDACTUA_2014,Avg_12mEnrollInst_5yrs
8,Miami Dade College,1330518.0,1330518.0,1439563.0,1508894.0,1544273.0,1.440064e+06
9,Miami Dade College,1330518.0,1330518.0,1439563.0,1508894.0,1544273.0,1.440064e+06
4,Florida International University,1117621.0,1117621.0,1095364.0,1087712.0,1069136.0,1.105170e+06
2,Broward College,878728.0,878728.0,895229.0,894803.0,911117.0,8.871742e+05
1,Broward College,878728.0,878728.0,895229.0,894803.0,911117.0,8.871742e+05
6,Keiser University-Ft Lauderdale,793224.0,793224.0,607862.0,614007.0,624170.0,6.867018e+05
7,Keiser University-Ft Lauderdale,793224.0,793224.0,607862.0,614007.0,624170.0,6.867018e+05
10,University of Miami,321135.0,321135.0,328181.0,330625.0,324191.0,3.253102e+05
14,Florida National University-Main Campus,153798.0,153798.0,128958.0,119172.0,123162.0,1.357704e+05
15,Florida National University-Main Campus,153798.0,153798.0,128958.0,119172.0,123162.0,1.357704e+05
11,Nova Southeastern University,119598.0,119598.0,122951.0,125567.0,130967.0,1.246336e+05
0,Barry University,99332.0,99332.0,104196.0,112054.0,118131.0,1.056332e+05
5,Florida Career College-Miami,15456.0,15456.0,11592.0,13344.0,292031.0,7.043980e+04
12,St Thomas University,45314.0,45314.0,26641.0,40649.0,46310.0,4.114120e+04
23,Miami Regional University,37800.0,37800.0,31620.0,32932.0,37802.0,3.113320e+04
24,Miami Regional University,37800.0,37800.0,31620.0,32932.0,37802.0,3.113320e+04
31,Florida Career College-Lauderdale Lakes,33360.0,33360.0,30528.0,26160.0,NaN,3.051600e+04
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,25496.0,25761.0,2.562850e+04
21,Brown Mackie College-Miami,5563.0,5563.0,17296.0,32970.0,40912.0,2.418525e+04
30,Florida Career College,23208.0,23208.0,16440.0,18552.0,NaN,2.139600e+04
13,City College-Fort Lauderdale,17247.0,17247.0,19516.0,22190.0,24907.0,1.973160e+04
25,Orion College,10741.0,10741.0,14241.0,19460.0,31437.0,1.896975e+04
26,Orion College,10741.0,10741.0,14241.0,19460.0,31437.0,1.896975e+04
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,15939.0,17493.0,1.671600e+04
22,SABER College,15615.0,15615.0,15584.0,16511.0,14156.0,1.470380e+04
35,Fortis College-Cutler Bay,12540.0,12540.0,NaN,NaN,NaN,1.249500e+04
29,West Coast University-Miami,16482.0,16482.0,10333.0,3493.0,73.0,1.046700e+04
18,City College-Miami,10093.0,10093.0,11982.0,11436.0,12353.0,1.043060e+04
32,Florida Career College-Kendall,NaN,NaN,4704.0,14856.0,NaN,9.780000e+03
3,Concorde Career Institute-Miramar,6018.0,6018.0,7308.0,6337.0,6616.0,6.794400e+03
27,Future-Tech Institute,3373.0,3373.0,4389.0,5008.0,4511.0,4.233400e+03
20,Universal Career School,1140.0,1140.0,735.0,NaN,NaN,2.415000e+03
19,Advance Science College,NaN,NaN,492.0,NaN,NaN,1.246000e+03
33,Med-Life Institute-Lauderdale Lakes,1500.0,1500.0,364.0,NaN,NaN,1.021333e+03
28,American Medical Academy,1344.0,1344.0,267.0,402.0,582.0,1.003600e+03
34,Hope College of Arts and Sciences,170.0,170.0,180.0,NaN,NaN,5.733333e+02

In [24]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","CDACTUA_2017","CDACTUA_2017","CDACTUA_2016","CDACTUA_2015","CDACTUA_2014","Avg_12mEnrollInst_5yrs"]],on=["INSTNM","AWLEVEL"])

In [25]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,EFYTOTLT_2016,EFYTOTLT_2015,EFYTOTLT_2014,Avg_12mEnroll_5yrs,CDACTUA_2017,CDACTUA_2017,CDACTUA_2016,CDACTUA_2015,CDACTUA_2014,Avg_12mEnrollInst_5yrs
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,91749.0,95821.0,97341.0,92339.60,1330518.0,1330518.0,1439563.0,1508894.0,1544273.0,1.440064e+06
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,32937.0,31000.0,32135.0,31938.80,793224.0,793224.0,607862.0,614007.0,624170.0,6.867018e+05
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,5136.0,5400.0,5780.0,5236.40,119598.0,119598.0,122951.0,125567.0,130967.0,1.246336e+05
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,63024.0,63389.0,62508.0,62366.00,878728.0,878728.0,895229.0,894803.0,911117.0,8.871742e+05
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,55100.0,55173.0,53525.0,55575.40,1117621.0,1117621.0,1095364.0,1087712.0,1069136.0,1.105170e+06
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,91749.0,95821.0,97341.0,92339.60,1330518.0,1330518.0,1439563.0,1508894.0,1544273.0,1.440064e+06
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,1770.0,1208.0,1156.0,1333.00,37800.0,37800.0,31620.0,32932.0,37802.0,3.113320e+04
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,12243.0,12432.0,12325.0,12197.20,321135.0,321135.0,328181.0,330625.0,324191.0,3.253102e+05
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,813.0,834.0,748.0,708.60,15615.0,15615.0,15584.0,16511.0,14156.0,1.470380e+04
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,4403.0,4722.0,5076.0,4465.40,99332.0,99332.0,104196.0,112054.0,118131.0,1.056332e+05
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,63024.0,63389.0,62508.0,62366.00,878728.0,878728.0,895229.0,894803.0,911117.0,8.871742e+05
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,631.0,1128.0,1500.0,872.25,5563.0,5563.0,17296.0,32970.0,40912.0,2.418525e+04
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,483.0,556.0,9902.0,2481.80,15456.0,15456.0,11592.0,13344.0,292031.0,7.043980e+04
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,5901.0,5405.0,5588.0,6143.40,153798.0,153798.0,128958.0,119172.0,123162.0,1.357704e+05
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,5901.0,5405.0,5588.0,6143.40,153798.0,153798.0,128958.0,119172.0,123162.0,1.357704e+05
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,32937.0,31000.0,32135.0,31938.80,793224.0,793224.0,607862.0,614007.0,624170.0,6.867018e+05
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,855.0,868.0,926.0,906.00,6018.0,6018.0,7308.0,6337.0,6616.0,6.794400e+03
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,1272.0,1090.0,NaN,1271.50,33360.0,33360.0,30528.0,26160.0,NaN,3.051600e+04
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,514.0,252.0,15.0,522.80,16482.0,16482.0,10333.0,3493.0,73.0,1.046700e+04
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,416.50,12540.0,12540.0,NaN,NaN,NaN,1.249500e+04
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,163.0,144.0,148.0,198.40,1140.0,1140.0,735.0,NaN,NaN,2.415000e+03
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,196.0,619.0,NaN,407.50,NaN,NaN,4704.0,14856.0,NaN,9.780000e+03
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,NaN,1007.0,1064.0,1035.50,NaN,NaN,NaN,25496.0,25761.0,2.562850e+04
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,780.0,893.0,950.0,772.60,17247.0,17247.0,19516.0,22190.0,24907.0,1.973160e+04
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,104.0,NaN,NaN,85.00,1500.0,1500.0,364.0,NaN,NaN,1.021333e+03
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,NaN,735.0,747.0,741.00,NaN,NaN,NaN,15939.0,17493.0,1.671600e+04
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,487.0,447.0,416.0,407.00,10093.0,10093.0,11982.0,11436.0,12353.0,1.043060e+04
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,685.0,773.0,NaN,891.50,23208.0,23208.0,16440.0,18552.0,NaN,2.139600e+04
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,1770.0,1208.0,1156.0,1333.00,37800.0,37800.0,31620.0,32932.0,37802.0,3.113320e+04
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,514.0,717.0,988.0,643.00,10741.0,10741.0,14241.0,19460.0,31437.0,1.896975e+04
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,642.0,502.0,471.0,609.80,1344.0,1344.0,267.0,402.0,582.0,1.003600e+03
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,107.0,NaN,NaN,125.00,170.0,170.0,180.0,NaN,NaN,5.733333e+02
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,3753.0,3402.0,3582.0,3659.60,45314.0,45314.0,26641.0,40649.0,46310.0,4.114120e+04
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,73.0,63.0,52.0,71.20,NaN,NaN,492.0,NaN,NaN,1.246000e+03
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,514.0,717.0,988.0,643.00,10741.0,10741.0,14241.0,19460.0,31437.0,1.896975e+04
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,145.0,166.0,150.0,142.40,3373.0,3373.0,4389.0,5008.0,4511.0,4.233400e+03

## Reported full-time equivalent (FTE) undergraduate enrollment, 2017-18

In [26]:
final_df[["FTEUG_2018","FTEUG_2017","FTEUG_2016","FTEUG_2015","FTEUG_2014"]]

    FTEUG_2018  FTEUG_2017  FTEUG_2016  FTEUG_2015  FTEUG_2014
0       3148.0      3311.0      3473.0      3735.0      3938.0
1      28912.0     29764.0     30311.0     30345.0     30835.0
2      28912.0     29764.0     30311.0     30345.0     30835.0
3        419.0       368.0       455.0       406.0       480.0
4      38534.0     37254.0     36512.0     36257.0     35638.0
5        659.0       515.0       386.0       445.0      9869.0
6      26475.0     26441.0     20262.0     20467.0     20806.0
7      26475.0     26441.0     20262.0     20467.0     20806.0
8      46554.0     45399.0     48705.0     51075.0     52309.0
9      46554.0     45399.0     48705.0     51075.0     52309.0
10     10747.0     10705.0     10939.0     11021.0     10806.0
11      4136.0      3987.0      4098.0      4186.0      4366.0
12      1560.0      1510.0       888.0      1355.0      1544.0
13       329.0       383.0       434.0       493.0       553.0
14      5125.0      5127.0      4299.0      3972.0      4105.0
15      5125.0      5127.0      4299.0      3972.0      4105.0
16         NaN         NaN         NaN       567.0       572.0
17         NaN         NaN         NaN       354.0       389.0
18       140.0       224.0       266.0       254.0       275.0
19        68.0        24.0        29.0        48.0        23.0
20       234.0       263.0       139.0       124.0       148.0
21         NaN       124.0       384.0       733.0       909.0
22       388.0       521.0       519.0       550.0       472.0
23       517.0      1260.0      1054.0      1098.0      1260.0
24       517.0      1260.0      1054.0      1098.0      1260.0
25         NaN       358.0       475.0       649.0      1048.0
26         NaN       358.0       475.0       649.0      1048.0
27       130.0       112.0       146.0       167.0       150.0
28       381.0       316.0       276.0       220.0       243.0
29       732.0       549.0       344.0       116.0         2.0
30       913.0       774.0       548.0       618.0         NaN
31      1067.0      1112.0      1018.0       872.0         NaN
32         NaN         NaN       157.0       495.0         NaN
33        40.0        50.0        32.0         NaN         NaN
34       114.0       106.0       107.0         NaN         NaN
35       415.0       418.0         NaN         NaN         NaN

In [27]:
final_df['Avg_12mEnrollfte_5yrs'] = final_df[["FTEUG_2018","FTEUG_2017","FTEUG_2016","FTEUG_2015","FTEUG_2014"]].mean(axis=1)

T4

In [28]:
final_df[["INSTNM","FTEUG_2018","FTEUG_2017","FTEUG_2016","FTEUG_2015","FTEUG_2014","Avg_12mEnrollfte_5yrs"]].sort_values(by="Avg_12mEnrollfte_5yrs",ascending=False)

,INSTNM,FTEUG_2018,FTEUG_2017,FTEUG_2016,FTEUG_2015,FTEUG_2014,Avg_12mEnrollfte_5yrs
8,Miami Dade College,46554.0,45399.0,48705.0,51075.0,52309.0,48808.400000
9,Miami Dade College,46554.0,45399.0,48705.0,51075.0,52309.0,48808.400000
4,Florida International University,38534.0,37254.0,36512.0,36257.0,35638.0,36839.000000
2,Broward College,28912.0,29764.0,30311.0,30345.0,30835.0,30033.400000
1,Broward College,28912.0,29764.0,30311.0,30345.0,30835.0,30033.400000
6,Keiser University-Ft Lauderdale,26475.0,26441.0,20262.0,20467.0,20806.0,22890.200000
7,Keiser University-Ft Lauderdale,26475.0,26441.0,20262.0,20467.0,20806.0,22890.200000
10,University of Miami,10747.0,10705.0,10939.0,11021.0,10806.0,10843.600000
14,Florida National University-Main Campus,5125.0,5127.0,4299.0,3972.0,4105.0,4525.600000
15,Florida National University-Main Campus,5125.0,5127.0,4299.0,3972.0,4105.0,4525.600000
11,Nova Southeastern University,4136.0,3987.0,4098.0,4186.0,4366.0,4154.600000
0,Barry University,3148.0,3311.0,3473.0,3735.0,3938.0,3521.000000
5,Florida Career College-Miami,659.0,515.0,386.0,445.0,9869.0,2374.800000
12,St Thomas University,1560.0,1510.0,888.0,1355.0,1544.0,1371.400000
23,Miami Regional University,517.0,1260.0,1054.0,1098.0,1260.0,1037.800000
24,Miami Regional University,517.0,1260.0,1054.0,1098.0,1260.0,1037.800000
31,Florida Career College-Lauderdale Lakes,1067.0,1112.0,1018.0,872.0,NaN,1017.250000
30,Florida Career College,913.0,774.0,548.0,618.0,NaN,713.250000
25,Orion College,NaN,358.0,475.0,649.0,1048.0,632.500000
26,Orion College,NaN,358.0,475.0,649.0,1048.0,632.500000
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,567.0,572.0,569.500000
21,Brown Mackie College-Miami,NaN,124.0,384.0,733.0,909.0,537.500000
22,SABER College,388.0,521.0,519.0,550.0,472.0,490.000000
13,City College-Fort Lauderdale,329.0,383.0,434.0,493.0,553.0,438.400000
3,Concorde Career Institute-Miramar,419.0,368.0,455.0,406.0,480.0,425.600000
35,Fortis College-Cutler Bay,415.0,418.0,NaN,NaN,NaN,416.500000
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,354.0,389.0,371.500000
29,West Coast University-Miami,732.0,549.0,344.0,116.0,2.0,348.600000
32,Florida Career College-Kendall,NaN,NaN,157.0,495.0,NaN,326.000000
28,American Medical Academy,381.0,316.0,276.0,220.0,243.0,287.200000
18,City College-Miami,140.0,224.0,266.0,254.0,275.0,231.800000
20,Universal Career School,234.0,263.0,139.0,124.0,148.0,181.600000
27,Future-Tech Institute,130.0,112.0,146.0,167.0,150.0,141.000000
34,Hope College of Arts and Sciences,114.0,106.0,107.0,NaN,NaN,109.000000
33,Med-Life Institute-Lauderdale Lakes,40.0,50.0,32.0,NaN,NaN,40.666667
19,Advance Science College,68.0,24.0,29.0,48.0,23.0,38.400000

In [29]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","FTEUG_2018","FTEUG_2017","FTEUG_2016","FTEUG_2015","FTEUG_2014","Avg_12mEnrollfte_5yrs"]],on=["INSTNM","AWLEVEL"])

In [30]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,CDACTUA_2016,CDACTUA_2015,CDACTUA_2014,Avg_12mEnrollInst_5yrs,FTEUG_2018,FTEUG_2017,FTEUG_2016,FTEUG_2015,FTEUG_2014,Avg_12mEnrollfte_5yrs
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,1439563.0,1508894.0,1544273.0,1.440064e+06,46554.0,45399.0,48705.0,51075.0,52309.0,48808.400000
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,607862.0,614007.0,624170.0,6.867018e+05,26475.0,26441.0,20262.0,20467.0,20806.0,22890.200000
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,122951.0,125567.0,130967.0,1.246336e+05,4136.0,3987.0,4098.0,4186.0,4366.0,4154.600000
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,895229.0,894803.0,911117.0,8.871742e+05,28912.0,29764.0,30311.0,30345.0,30835.0,30033.400000
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,1095364.0,1087712.0,1069136.0,1.105170e+06,38534.0,37254.0,36512.0,36257.0,35638.0,36839.000000
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,1439563.0,1508894.0,1544273.0,1.440064e+06,46554.0,45399.0,48705.0,51075.0,52309.0,48808.400000
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,31620.0,32932.0,37802.0,3.113320e+04,517.0,1260.0,1054.0,1098.0,1260.0,1037.800000
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,328181.0,330625.0,324191.0,3.253102e+05,10747.0,10705.0,10939.0,11021.0,10806.0,10843.600000
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,15584.0,16511.0,14156.0,1.470380e+04,388.0,521.0,519.0,550.0,472.0,490.000000
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,104196.0,112054.0,118131.0,1.056332e+05,3148.0,3311.0,3473.0,3735.0,3938.0,3521.000000
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,895229.0,894803.0,911117.0,8.871742e+05,28912.0,29764.0,30311.0,30345.0,30835.0,30033.400000
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,17296.0,32970.0,40912.0,2.418525e+04,NaN,124.0,384.0,733.0,909.0,537.500000
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,11592.0,13344.0,292031.0,7.043980e+04,659.0,515.0,386.0,445.0,9869.0,2374.800000
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,128958.0,119172.0,123162.0,1.357704e+05,5125.0,5127.0,4299.0,3972.0,4105.0,4525.600000
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,128958.0,119172.0,123162.0,1.357704e+05,5125.0,5127.0,4299.0,3972.0,4105.0,4525.600000
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,607862.0,614007.0,624170.0,6.867018e+05,26475.0,26441.0,20262.0,20467.0,20806.0,22890.200000
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,7308.0,6337.0,6616.0,6.794400e+03,419.0,368.0,455.0,406.0,480.0,425.600000
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,30528.0,26160.0,NaN,3.051600e+04,1067.0,1112.0,1018.0,872.0,NaN,1017.250000
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,10333.0,3493.0,73.0,1.046700e+04,732.0,549.0,344.0,116.0,2.0,348.600000
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.249500e+04,415.0,418.0,NaN,NaN,NaN,416.500000
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,735.0,NaN,NaN,2.415000e+03,234.0,263.0,139.0,124.0,148.0,181.600000
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,4704.0,14856.0,NaN,9.780000e+03,NaN,NaN,157.0,495.0,NaN,326.000000
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,NaN,25496.0,25761.0,2.562850e+04,NaN,NaN,NaN,567.0,572.0,569.500000
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,19516.0,22190.0,24907.0,1.973160e+04,329.0,383.0,434.0,493.0,553.0,438.400000
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,364.0,NaN,NaN,1.021333e+03,40.0,50.0,32.0,NaN,NaN,40.666667
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,NaN,15939.0,17493.0,1.671600e+04,NaN,NaN,NaN,354.0,389.0,371.500000
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,11982.0,11436.0,12353.0,1.043060e+04,140.0,224.0,266.0,254.0,275.0,231.800000
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,16440.0,18552.0,NaN,2.139600e+04,913.0,774.0,548.0,618.0,NaN,713.250000
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,31620.0,32932.0,37802.0,3.113320e+04,517.0,1260.0,1054.0,1098.0,1260.0,1037.800000
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,14241.0,19460.0,31437.0,1.896975e+04,NaN,358.0,475.0,649.0,1048.0,632.500000
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,267.0,402.0,582.0,1.003600e+03,381.0,316.0,276.0,220.0,243.0,287.200000
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,180.0,NaN,NaN,5.733333e+02,114.0,106.0,107.0,NaN,NaN,109.000000
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,26641.0,40649.0,46310.0,4.114120e+04,1560.0,1510.0,888.0,1355.0,1544.0,1371.400000
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,492.0,NaN,NaN,1.246000e+03,68.0,24.0,29.0,48.0,23.0,38.400000
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,14241.0,19460.0,31437.0,1.896975e+04,NaN,358.0,475.0,649.0,1048.0,632.500000
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,4389.0,5008.0,4511.0,4.233400e+03,130.0,112.0,146.0,167.0,150.0,141.000000

## Fall Enrollment Grand total

In [31]:
final_df[["EFTOTLT_2017","EFTOTLT_2016","EFTOTLT_2015","EFTOTLT_2014","EFTOTLT_2013"]]

    EFTOTLT_2017  EFTOTLT_2016  EFTOTLT_2015  EFTOTLT_2014  EFTOTLT_2013
0         3505.0        3541.0        3776.0        3996.0        4341.0
1        40754.0       43700.0       43078.0       44119.0       43883.0
2        40754.0       43700.0       43078.0       44119.0       43883.0
3          528.0         551.0         467.0         640.0         508.0
4        47629.0       45856.0       41032.0       41009.0       39142.0
5          502.0         340.0         278.0        6227.0        5818.0
6        18630.0       18172.0       15310.0       18101.0       16039.0
7        18630.0       18172.0       15310.0       18101.0       16039.0
8        56001.0       55206.0       62332.0       66046.0       66298.0
9        56001.0       55206.0       62332.0       66046.0       66298.0
10       10832.0       10792.0       11060.0       11175.0       11380.0
11        4497.0        4295.0        4641.0        4699.0        5156.0
12        2906.0        2752.0        3182.0         931.0        1035.0
13         401.0         438.0         490.0         575.0         633.0
14        4023.0        3191.0        2456.0        2376.0        2420.0
15        4023.0        3191.0        2456.0        2376.0        2420.0
16           NaN           NaN         532.0         552.0         531.0
17           NaN           NaN         333.0         335.0         417.0
18         186.0         266.0         251.0         263.0         283.0
19          69.0          22.0          44.0          34.0          39.0
20         231.0         204.0         126.0         137.0         133.0
21         121.0         184.0         476.0         919.0         953.0
22         342.0         553.0         553.0         600.0         544.0
23         638.0        1017.0         943.0         708.0         822.0
24         638.0        1017.0         943.0         708.0         822.0
25         136.0         221.0         336.0         441.0         632.0
26         136.0         221.0         336.0         441.0         632.0
27          83.0         102.0         128.0          38.0          35.0
28         371.0         246.0         318.0         247.0         343.0
29         687.0         485.0         263.0          46.0           NaN
30         650.0         529.0         361.0           NaN           NaN
31         785.0         831.0         691.0           NaN           NaN
32           NaN          25.0         174.0           NaN           NaN
33          79.0          54.0           NaN           NaN           NaN
34         120.0         103.0           NaN           NaN           NaN
35         283.0           NaN           NaN           NaN           NaN

In [32]:
final_df['Avg_FallEnroll_efatotal_5yrs'] = final_df[["EFTOTLT_2017","EFTOTLT_2016","EFTOTLT_2015","EFTOTLT_2014","EFTOTLT_2013"]].mean(axis=1)

T5

In [33]:
final_df[["INSTNM","EFTOTLT_2017","EFTOTLT_2016","EFTOTLT_2015","EFTOTLT_2014","EFTOTLT_2013","Avg_FallEnroll_efatotal_5yrs"]].sort_values(by="Avg_FallEnroll_efatotal_5yrs",ascending=False)

,INSTNM,EFTOTLT_2017,EFTOTLT_2016,EFTOTLT_2015,EFTOTLT_2014,EFTOTLT_2013,Avg_FallEnroll_efatotal_5yrs
8,Miami Dade College,56001.0,55206.0,62332.0,66046.0,66298.0,61176.600000
9,Miami Dade College,56001.0,55206.0,62332.0,66046.0,66298.0,61176.600000
2,Broward College,40754.0,43700.0,43078.0,44119.0,43883.0,43106.800000
1,Broward College,40754.0,43700.0,43078.0,44119.0,43883.0,43106.800000
4,Florida International University,47629.0,45856.0,41032.0,41009.0,39142.0,42933.600000
6,Keiser University-Ft Lauderdale,18630.0,18172.0,15310.0,18101.0,16039.0,17250.400000
7,Keiser University-Ft Lauderdale,18630.0,18172.0,15310.0,18101.0,16039.0,17250.400000
10,University of Miami,10832.0,10792.0,11060.0,11175.0,11380.0,11047.800000
11,Nova Southeastern University,4497.0,4295.0,4641.0,4699.0,5156.0,4657.600000
0,Barry University,3505.0,3541.0,3776.0,3996.0,4341.0,3831.800000
15,Florida National University-Main Campus,4023.0,3191.0,2456.0,2376.0,2420.0,2893.200000
14,Florida National University-Main Campus,4023.0,3191.0,2456.0,2376.0,2420.0,2893.200000
5,Florida Career College-Miami,502.0,340.0,278.0,6227.0,5818.0,2633.000000
12,St Thomas University,2906.0,2752.0,3182.0,931.0,1035.0,2161.200000
23,Miami Regional University,638.0,1017.0,943.0,708.0,822.0,825.600000
24,Miami Regional University,638.0,1017.0,943.0,708.0,822.0,825.600000
31,Florida Career College-Lauderdale Lakes,785.0,831.0,691.0,NaN,NaN,769.000000
3,Concorde Career Institute-Miramar,528.0,551.0,467.0,640.0,508.0,538.800000
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,532.0,552.0,531.0,538.333333
21,Brown Mackie College-Miami,121.0,184.0,476.0,919.0,953.0,530.600000
22,SABER College,342.0,553.0,553.0,600.0,544.0,518.400000
30,Florida Career College,650.0,529.0,361.0,NaN,NaN,513.333333
13,City College-Fort Lauderdale,401.0,438.0,490.0,575.0,633.0,507.400000
29,West Coast University-Miami,687.0,485.0,263.0,46.0,NaN,370.250000
17,ITT Technical Institute-Hialeah,NaN,NaN,333.0,335.0,417.0,361.666667
25,Orion College,136.0,221.0,336.0,441.0,632.0,353.200000
26,Orion College,136.0,221.0,336.0,441.0,632.0,353.200000
28,American Medical Academy,371.0,246.0,318.0,247.0,343.0,305.000000
35,Fortis College-Cutler Bay,283.0,NaN,NaN,NaN,NaN,283.000000
18,City College-Miami,186.0,266.0,251.0,263.0,283.0,249.800000
20,Universal Career School,231.0,204.0,126.0,137.0,133.0,166.200000
34,Hope College of Arts and Sciences,120.0,103.0,NaN,NaN,NaN,111.500000
32,Florida Career College-Kendall,NaN,25.0,174.0,NaN,NaN,99.500000
27,Future-Tech Institute,83.0,102.0,128.0,38.0,35.0,77.200000
33,Med-Life Institute-Lauderdale Lakes,79.0,54.0,NaN,NaN,NaN,66.500000
19,Advance Science College,69.0,22.0,44.0,34.0,39.0,41.600000

In [34]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","EFTOTLT_2017","EFTOTLT_2016","EFTOTLT_2015","EFTOTLT_2014","EFTOTLT_2013","Avg_FallEnroll_efatotal_5yrs"]],on=["INSTNM","AWLEVEL"])

In [35]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,FTEUG_2016,FTEUG_2015,FTEUG_2014,Avg_12mEnrollfte_5yrs,EFTOTLT_2017,EFTOTLT_2016,EFTOTLT_2015,EFTOTLT_2014,EFTOTLT_2013,Avg_FallEnroll_efatotal_5yrs
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,48705.0,51075.0,52309.0,48808.400000,56001.0,55206.0,62332.0,66046.0,66298.0,61176.600000
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,20262.0,20467.0,20806.0,22890.200000,18630.0,18172.0,15310.0,18101.0,16039.0,17250.400000
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,4098.0,4186.0,4366.0,4154.600000,4497.0,4295.0,4641.0,4699.0,5156.0,4657.600000
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,30311.0,30345.0,30835.0,30033.400000,40754.0,43700.0,43078.0,44119.0,43883.0,43106.800000
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,36512.0,36257.0,35638.0,36839.000000,47629.0,45856.0,41032.0,41009.0,39142.0,42933.600000
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,48705.0,51075.0,52309.0,48808.400000,56001.0,55206.0,62332.0,66046.0,66298.0,61176.600000
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,1054.0,1098.0,1260.0,1037.800000,638.0,1017.0,943.0,708.0,822.0,825.600000
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,10939.0,11021.0,10806.0,10843.600000,10832.0,10792.0,11060.0,11175.0,11380.0,11047.800000
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,519.0,550.0,472.0,490.000000,342.0,553.0,553.0,600.0,544.0,518.400000
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,3473.0,3735.0,3938.0,3521.000000,3505.0,3541.0,3776.0,3996.0,4341.0,3831.800000
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,30311.0,30345.0,30835.0,30033.400000,40754.0,43700.0,43078.0,44119.0,43883.0,43106.800000
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,384.0,733.0,909.0,537.500000,121.0,184.0,476.0,919.0,953.0,530.600000
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,386.0,445.0,9869.0,2374.800000,502.0,340.0,278.0,6227.0,5818.0,2633.000000
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,4299.0,3972.0,4105.0,4525.600000,4023.0,3191.0,2456.0,2376.0,2420.0,2893.200000
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,4299.0,3972.0,4105.0,4525.600000,4023.0,3191.0,2456.0,2376.0,2420.0,2893.200000
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,20262.0,20467.0,20806.0,22890.200000,18630.0,18172.0,15310.0,18101.0,16039.0,17250.400000
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,455.0,406.0,480.0,425.600000,528.0,551.0,467.0,640.0,508.0,538.800000
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,1018.0,872.0,NaN,1017.250000,785.0,831.0,691.0,NaN,NaN,769.000000
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,344.0,116.0,2.0,348.600000,687.0,485.0,263.0,46.0,NaN,370.250000
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,416.500000,283.0,NaN,NaN,NaN,NaN,283.000000
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,139.0,124.0,148.0,181.600000,231.0,204.0,126.0,137.0,133.0,166.200000
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,157.0,495.0,NaN,326.000000,NaN,25.0,174.0,NaN,NaN,99.500000
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,NaN,567.0,572.0,569.500000,NaN,NaN,532.0,552.0,531.0,538.333333
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,434.0,493.0,553.0,438.400000,401.0,438.0,490.0,575.0,633.0,507.400000
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,32.0,NaN,NaN,40.666667,79.0,54.0,NaN,NaN,NaN,66.500000
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,NaN,354.0,389.0,371.500000,NaN,NaN,333.0,335.0,417.0,361.666667
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,266.0,254.0,275.0,231.800000,186.0,266.0,251.0,263.0,283.0,249.800000
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,548.0,618.0,NaN,713.250000,650.0,529.0,361.0,NaN,NaN,513.333333
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,1054.0,1098.0,1260.0,1037.800000,638.0,1017.0,943.0,708.0,822.0,825.600000
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,475.0,649.0,1048.0,632.500000,136.0,221.0,336.0,441.0,632.0,353.200000
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,276.0,220.0,243.0,287.200000,371.0,246.0,318.0,247.0,343.0,305.000000
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,107.0,NaN,NaN,109.000000,120.0,103.0,NaN,NaN,NaN,111.500000
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,888.0,1355.0,1544.0,1371.400000,2906.0,2752.0,3182.0,931.0,1035.0,2161.200000
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,29.0,48.0,23.0,38.400000,69.0,22.0,44.0,34.0,39.0,41.600000
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,475.0,649.0,1048.0,632.500000,136.0,221.0,336.0,441.0,632.0,353.200000
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,146.0,167.0,150.0,141.000000,83.0,102.0,128.0,38.0,35.0,77.200000

## Admission and Test Score

### Applicants total in 2017

In [36]:
final_df[["INSTNM","APPLCN_2017"]].sort_values(by="APPLCN_2017",ascending=False)

                                     INSTNM  APPLCN_2017
10                      University of Miami      30638.0
4          Florida International University      19757.0
11             Nova Southeastern University       7779.0
0                          Barry University       5123.0
12                     St Thomas University       2137.0
23                Miami Regional University        470.0
24                Miami Regional University        470.0
3         Concorde Career Institute-Miramar        436.0
22                            SABER College        147.0
29              West Coast University-Miami         13.0
33      Med-Life Institute-Lauderdale Lakes          0.0
1                           Broward College          NaN
2                           Broward College          NaN
5              Florida Career College-Miami          NaN
6           Keiser University-Ft Lauderdale          NaN
7           Keiser University-Ft Lauderdale          NaN
8                        Miami Dade College          NaN
9                        Miami Dade College          NaN
13             City College-Fort Lauderdale          NaN
14  Florida National University-Main Campus          NaN
15  Florida National University-Main Campus          NaN
16  ITT Technical Institute-Fort Lauderdale          NaN
17          ITT Technical Institute-Hialeah          NaN
18                       City College-Miami          NaN
19                  Advance Science College          NaN
20                  Universal Career School          NaN
21               Brown Mackie College-Miami          NaN
25                            Orion College          NaN
26                            Orion College          NaN
27                    Future-Tech Institute          NaN
28                 American Medical Academy          NaN
30                   Florida Career College          NaN
31  Florida Career College-Lauderdale Lakes          NaN
32           Florida Career College-Kendall          NaN
34        Hope College of Arts and Sciences          NaN
35                Fortis College-Cutler Bay          NaN

### Admissions total in 2017

In [37]:
final_df[["INSTNM","ADMSSN_2017"]].sort_values(by="ADMSSN_2017",ascending=False)

                                     INSTNM  ADMSSN_2017
10                      University of Miami      10939.0
4          Florida International University      10683.0
11             Nova Southeastern University       4525.0
0                          Barry University       4358.0
12                     St Thomas University       1041.0
23                Miami Regional University        396.0
24                Miami Regional University        396.0
3         Concorde Career Institute-Miramar        327.0
22                            SABER College        127.0
29              West Coast University-Miami         13.0
1                           Broward College          NaN
2                           Broward College          NaN
5              Florida Career College-Miami          NaN
6           Keiser University-Ft Lauderdale          NaN
7           Keiser University-Ft Lauderdale          NaN
8                        Miami Dade College          NaN
9                        Miami Dade College          NaN
13             City College-Fort Lauderdale          NaN
14  Florida National University-Main Campus          NaN
15  Florida National University-Main Campus          NaN
16  ITT Technical Institute-Fort Lauderdale          NaN
17          ITT Technical Institute-Hialeah          NaN
18                       City College-Miami          NaN
19                  Advance Science College          NaN
20                  Universal Career School          NaN
21               Brown Mackie College-Miami          NaN
25                            Orion College          NaN
26                            Orion College          NaN
27                    Future-Tech Institute          NaN
28                 American Medical Academy          NaN
30                   Florida Career College          NaN
31  Florida Career College-Lauderdale Lakes          NaN
32           Florida Career College-Kendall          NaN
33      Med-Life Institute-Lauderdale Lakes          NaN
34        Hope College of Arts and Sciences          NaN
35                Fortis College-Cutler Bay          NaN

### Enrolled total in 2017

In [38]:
final_df[["INSTNM","ENRLT_2017"]].sort_values(by="ENRLT_2017",ascending=False)

                                     INSTNM  ENRLT_2017
4          Florida International University      4335.0
10                      University of Miami      2212.0
11             Nova Southeastern University       987.0
0                          Barry University       604.0
23                Miami Regional University       396.0
24                Miami Regional University       396.0
12                     St Thomas University       232.0
3         Concorde Career Institute-Miramar       114.0
22                            SABER College        75.0
29              West Coast University-Miami         7.0
1                           Broward College         NaN
2                           Broward College         NaN
5              Florida Career College-Miami         NaN
6           Keiser University-Ft Lauderdale         NaN
7           Keiser University-Ft Lauderdale         NaN
8                        Miami Dade College         NaN
9                        Miami Dade College         NaN
13             City College-Fort Lauderdale         NaN
14  Florida National University-Main Campus         NaN
15  Florida National University-Main Campus         NaN
16  ITT Technical Institute-Fort Lauderdale         NaN
17          ITT Technical Institute-Hialeah         NaN
18                       City College-Miami         NaN
19                  Advance Science College         NaN
20                  Universal Career School         NaN
21               Brown Mackie College-Miami         NaN
25                            Orion College         NaN
26                            Orion College         NaN
27                    Future-Tech Institute         NaN
28                 American Medical Academy         NaN
30                   Florida Career College         NaN
31  Florida Career College-Lauderdale Lakes         NaN
32           Florida Career College-Kendall         NaN
33      Med-Life Institute-Lauderdale Lakes         NaN
34        Hope College of Arts and Sciences         NaN
35                Fortis College-Cutler Bay         NaN

### Enrolled full time total

In [39]:
final_df[["INSTNM","ENRLFT_2017"]].sort_values(by="ENRLFT_2017",ascending=False)

                                     INSTNM  ENRLFT_2017
4          Florida International University       2512.0
10                      University of Miami       2185.0
11             Nova Southeastern University        977.0
0                          Barry University        604.0
12                     St Thomas University        230.0
23                Miami Regional University        122.0
24                Miami Regional University        122.0
3         Concorde Career Institute-Miramar        114.0
22                            SABER College         75.0
29              West Coast University-Miami          7.0
1                           Broward College          NaN
2                           Broward College          NaN
5              Florida Career College-Miami          NaN
6           Keiser University-Ft Lauderdale          NaN
7           Keiser University-Ft Lauderdale          NaN
8                        Miami Dade College          NaN
9                        Miami Dade College          NaN
13             City College-Fort Lauderdale          NaN
14  Florida National University-Main Campus          NaN
15  Florida National University-Main Campus          NaN
16  ITT Technical Institute-Fort Lauderdale          NaN
17          ITT Technical Institute-Hialeah          NaN
18                       City College-Miami          NaN
19                  Advance Science College          NaN
20                  Universal Career School          NaN
21               Brown Mackie College-Miami          NaN
25                            Orion College          NaN
26                            Orion College          NaN
27                    Future-Tech Institute          NaN
28                 American Medical Academy          NaN
30                   Florida Career College          NaN
31  Florida Career College-Lauderdale Lakes          NaN
32           Florida Career College-Kendall          NaN
33      Med-Life Institute-Lauderdale Lakes          NaN
34        Hope College of Arts and Sciences          NaN
35                Fortis College-Cutler Bay          NaN

### Enrolled part time total

In [40]:
final_df[["INSTNM","ENRLPT_2017"]].sort_values(by="ENRLPT_2017",ascending=False)

                                     INSTNM  ENRLPT_2017
4          Florida International University       1823.0
23                Miami Regional University        274.0
24                Miami Regional University        274.0
10                      University of Miami         27.0
11             Nova Southeastern University         10.0
12                     St Thomas University          2.0
0                          Barry University          0.0
29              West Coast University-Miami          0.0
1                           Broward College          NaN
2                           Broward College          NaN
3         Concorde Career Institute-Miramar          NaN
5              Florida Career College-Miami          NaN
6           Keiser University-Ft Lauderdale          NaN
7           Keiser University-Ft Lauderdale          NaN
8                        Miami Dade College          NaN
9                        Miami Dade College          NaN
13             City College-Fort Lauderdale          NaN
14  Florida National University-Main Campus          NaN
15  Florida National University-Main Campus          NaN
16  ITT Technical Institute-Fort Lauderdale          NaN
17          ITT Technical Institute-Hialeah          NaN
18                       City College-Miami          NaN
19                  Advance Science College          NaN
20                  Universal Career School          NaN
21               Brown Mackie College-Miami          NaN
22                            SABER College          NaN
25                            Orion College          NaN
26                            Orion College          NaN
27                    Future-Tech Institute          NaN
28                 American Medical Academy          NaN
30                   Florida Career College          NaN
31  Florida Career College-Lauderdale Lakes          NaN
32           Florida Career College-Kendall          NaN
33      Med-Life Institute-Lauderdale Lakes          NaN
34        Hope College of Arts and Sciences          NaN
35                Fortis College-Cutler Bay          NaN

### Combined Table Admission and Test score

<b>APPLCN_2017</b>	Applicants total in 2017<br>
<b>ADMSSN_2017</b>	Admissions total in 2017<br>
<b>ENRLT_2017</b>	Enrolled total in 2017<br>
<b>ENRLFT_2017</b>  Enrolled full time total<br>
<b>ENRLPT_2017</b>  Enrolled part time total<br>

T6

In [41]:
final_df[["INSTNM","APPLCN_2017","ADMSSN_2017","ENRLT_2017","ENRLFT_2017","ENRLPT_2017"]]

,INSTNM,APPLCN_2017,ADMSSN_2017,ENRLT_2017,ENRLFT_2017,ENRLPT_2017
0,Barry University,5123.0,4358.0,604.0,604.0,0.0
1,Broward College,NaN,NaN,NaN,NaN,NaN
2,Broward College,NaN,NaN,NaN,NaN,NaN
3,Concorde Career Institute-Miramar,436.0,327.0,114.0,114.0,NaN
4,Florida International University,19757.0,10683.0,4335.0,2512.0,1823.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN,NaN
8,Miami Dade College,NaN,NaN,NaN,NaN,NaN
9,Miami Dade College,NaN,NaN,NaN,NaN,NaN
10,University of Miami,30638.0,10939.0,2212.0,2185.0,27.0
11,Nova Southeastern University,7779.0,4525.0,987.0,977.0,10.0
12,St Thomas University,2137.0,1041.0,232.0,230.0,2.0
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN,NaN
22,SABER College,147.0,127.0,75.0,75.0,NaN
23,Miami Regional University,470.0,396.0,396.0,122.0,274.0
24,Miami Regional University,470.0,396.0,396.0,122.0,274.0
25,Orion College,NaN,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN,NaN
29,West Coast University-Miami,13.0,13.0,7.0,7.0,0.0
30,Florida Career College,NaN,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,0.0,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN,NaN

In [42]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","APPLCN_2017","ADMSSN_2017","ENRLT_2017","ENRLFT_2017","ENRLPT_2017"]],on=["INSTNM","AWLEVEL"])

### SAT Math 25th percentile score

In [43]:
final_df[["INSTNM","SATMT25_2017"]].sort_values(by="SATMT25_2017",ascending=False)

                                     INSTNM  SATMT25_2017
10                      University of Miami         610.0
4          Florida International University         530.0
11             Nova Southeastern University         530.0
12                     St Thomas University         440.0
0                          Barry University         410.0
1                           Broward College           NaN
2                           Broward College           NaN
3         Concorde Career Institute-Miramar           NaN
5              Florida Career College-Miami           NaN
6           Keiser University-Ft Lauderdale           NaN
7           Keiser University-Ft Lauderdale           NaN
8                        Miami Dade College           NaN
9                        Miami Dade College           NaN
13             City College-Fort Lauderdale           NaN
14  Florida National University-Main Campus           NaN
15  Florida National University-Main Campus           NaN
16  ITT Technical Institute-Fort Lauderdale           NaN
17          ITT Technical Institute-Hialeah           NaN
18                       City College-Miami           NaN
19                  Advance Science College           NaN
20                  Universal Career School           NaN
21               Brown Mackie College-Miami           NaN
22                            SABER College           NaN
23                Miami Regional University           NaN
24                Miami Regional University           NaN
25                            Orion College           NaN
26                            Orion College           NaN
27                    Future-Tech Institute           NaN
28                 American Medical Academy           NaN
29              West Coast University-Miami           NaN
30                   Florida Career College           NaN
31  Florida Career College-Lauderdale Lakes           NaN
32           Florida Career College-Kendall           NaN
33      Med-Life Institute-Lauderdale Lakes           NaN
34        Hope College of Arts and Sciences           NaN
35                Fortis College-Cutler Bay           NaN

### SAT Math 75th percentile score

In [44]:
final_df[["INSTNM","SATMT75_2017"]].sort_values(by="SATMT75_2017",ascending=False)

                                     INSTNM  SATMT75_2017
10                      University of Miami         720.0
11             Nova Southeastern University         640.0
4          Florida International University         610.0
12                     St Thomas University         560.0
0                          Barry University         500.0
1                           Broward College           NaN
2                           Broward College           NaN
3         Concorde Career Institute-Miramar           NaN
5              Florida Career College-Miami           NaN
6           Keiser University-Ft Lauderdale           NaN
7           Keiser University-Ft Lauderdale           NaN
8                        Miami Dade College           NaN
9                        Miami Dade College           NaN
13             City College-Fort Lauderdale           NaN
14  Florida National University-Main Campus           NaN
15  Florida National University-Main Campus           NaN
16  ITT Technical Institute-Fort Lauderdale           NaN
17          ITT Technical Institute-Hialeah           NaN
18                       City College-Miami           NaN
19                  Advance Science College           NaN
20                  Universal Career School           NaN
21               Brown Mackie College-Miami           NaN
22                            SABER College           NaN
23                Miami Regional University           NaN
24                Miami Regional University           NaN
25                            Orion College           NaN
26                            Orion College           NaN
27                    Future-Tech Institute           NaN
28                 American Medical Academy           NaN
29              West Coast University-Miami           NaN
30                   Florida Career College           NaN
31  Florida Career College-Lauderdale Lakes           NaN
32           Florida Career College-Kendall           NaN
33      Med-Life Institute-Lauderdale Lakes           NaN
34        Hope College of Arts and Sciences           NaN
35                Fortis College-Cutler Bay           NaN

### ACT Math 25th percentile score

In [45]:
final_df[["INSTNM","ACTMT25_2017"]].sort_values(by="ACTMT25_2017",ascending=False)

                                     INSTNM  ACTMT25_2017
10                      University of Miami          26.0
11             Nova Southeastern University          22.0
4          Florida International University          21.0
0                          Barry University          16.0
12                     St Thomas University          16.0
1                           Broward College           NaN
2                           Broward College           NaN
3         Concorde Career Institute-Miramar           NaN
5              Florida Career College-Miami           NaN
6           Keiser University-Ft Lauderdale           NaN
7           Keiser University-Ft Lauderdale           NaN
8                        Miami Dade College           NaN
9                        Miami Dade College           NaN
13             City College-Fort Lauderdale           NaN
14  Florida National University-Main Campus           NaN
15  Florida National University-Main Campus           NaN
16  ITT Technical Institute-Fort Lauderdale           NaN
17          ITT Technical Institute-Hialeah           NaN
18                       City College-Miami           NaN
19                  Advance Science College           NaN
20                  Universal Career School           NaN
21               Brown Mackie College-Miami           NaN
22                            SABER College           NaN
23                Miami Regional University           NaN
24                Miami Regional University           NaN
25                            Orion College           NaN
26                            Orion College           NaN
27                    Future-Tech Institute           NaN
28                 American Medical Academy           NaN
29              West Coast University-Miami           NaN
30                   Florida Career College           NaN
31  Florida Career College-Lauderdale Lakes           NaN
32           Florida Career College-Kendall           NaN
33      Med-Life Institute-Lauderdale Lakes           NaN
34        Hope College of Arts and Sciences           NaN
35                Fortis College-Cutler Bay           NaN

### ACT Math 75th percentile score

In [46]:
final_df[["ACTMT75 _2017"]]

    ACTMT75 _2017
0            20.0
1             NaN
2             NaN
3             NaN
4            25.0
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10           32.0
11           28.0
12           21.0
13            NaN
14            NaN
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27            NaN
28            NaN
29            NaN
30            NaN
31            NaN
32            NaN
33            NaN
34            NaN
35            NaN

In [47]:
final_df[["INSTNM","ACTMT75 _2017"]].sort_values(by="ACTMT75 _2017",ascending=False)

                                     INSTNM  ACTMT75 _2017
10                      University of Miami           32.0
11             Nova Southeastern University           28.0
4          Florida International University           25.0
12                     St Thomas University           21.0
0                          Barry University           20.0
1                           Broward College            NaN
2                           Broward College            NaN
3         Concorde Career Institute-Miramar            NaN
5              Florida Career College-Miami            NaN
6           Keiser University-Ft Lauderdale            NaN
7           Keiser University-Ft Lauderdale            NaN
8                        Miami Dade College            NaN
9                        Miami Dade College            NaN
13             City College-Fort Lauderdale            NaN
14  Florida National University-Main Campus            NaN
15  Florida National University-Main Campus            NaN
16  ITT Technical Institute-Fort Lauderdale            NaN
17          ITT Technical Institute-Hialeah            NaN
18                       City College-Miami            NaN
19                  Advance Science College            NaN
20                  Universal Career School            NaN
21               Brown Mackie College-Miami            NaN
22                            SABER College            NaN
23                Miami Regional University            NaN
24                Miami Regional University            NaN
25                            Orion College            NaN
26                            Orion College            NaN
27                    Future-Tech Institute            NaN
28                 American Medical Academy            NaN
29              West Coast University-Miami            NaN
30                   Florida Career College            NaN
31  Florida Career College-Lauderdale Lakes            NaN
32           Florida Career College-Kendall            NaN
33      Med-Life Institute-Lauderdale Lakes            NaN
34        Hope College of Arts and Sciences            NaN
35                Fortis College-Cutler Bay            NaN

### Combined Table for SAT and ACT

<b>ACTMT25_2017</b>  ACT Math 25th percentile score<br>
<b>SATMT75_2017</b> SAT Math 75th percentile score<br>
<b>SATMT25_2017</b>  SAT Math 25th percentile score<br>
<b>ACTMT75 _2017</b> ACT Math 75th percentile score<br>

T7

In [48]:
final_df[["INSTNM","ACTMT25_2017","SATMT75_2017","SATMT25_2017","ACTMT75 _2017"]]

,INSTNM,ACTMT25_2017,SATMT75_2017,SATMT25_2017,ACTMT75 _2017
0,Barry University,16.0,500.0,410.0,20.0
1,Broward College,NaN,NaN,NaN,NaN
2,Broward College,NaN,NaN,NaN,NaN
3,Concorde Career Institute-Miramar,NaN,NaN,NaN,NaN
4,Florida International University,21.0,610.0,530.0,25.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
8,Miami Dade College,NaN,NaN,NaN,NaN
9,Miami Dade College,NaN,NaN,NaN,NaN
10,University of Miami,26.0,720.0,610.0,32.0
11,Nova Southeastern University,22.0,640.0,530.0,28.0
12,St Thomas University,16.0,560.0,440.0,21.0
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN

In [49]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","ACTMT25_2017","SATMT75_2017","SATMT25_2017","ACTMT75 _2017"]],on=["INSTNM","AWLEVEL"])

In [50]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,Avg_FallEnroll_efatotal_5yrs,APPLCN_2017,ADMSSN_2017,ENRLT_2017,ENRLFT_2017,ENRLPT_2017,ACTMT25_2017,SATMT75_2017,SATMT25_2017,ACTMT75 _2017
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,61176.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,17250.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,4657.600000,7779.0,4525.0,987.0,977.0,10.0,22.0,640.0,530.0,28.0
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,43106.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,42933.600000,19757.0,10683.0,4335.0,2512.0,1823.0,21.0,610.0,530.0,25.0
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,61176.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,825.600000,470.0,396.0,396.0,122.0,274.0,NaN,NaN,NaN,NaN
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,11047.800000,30638.0,10939.0,2212.0,2185.0,27.0,26.0,720.0,610.0,32.0
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,518.400000,147.0,127.0,75.0,75.0,NaN,NaN,NaN,NaN,NaN
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,3831.800000,5123.0,4358.0,604.0,604.0,0.0,16.0,500.0,410.0,20.0
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,43106.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,530.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,2633.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,2893.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,2893.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,17250.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,538.800000,436.0,327.0,114.0,114.0,NaN,NaN,NaN,NaN,NaN
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,769.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,370.250000,13.0,13.0,7.0,7.0,0.0,NaN,NaN,NaN,NaN
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,283.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,166.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,99.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,538.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,507.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,66.500000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,361.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,249.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,513.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,825.600000,470.0,396.0,396.0,122.0,274.0,NaN,NaN,NaN,NaN
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,353.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,305.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,111.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,2161.200000,2137.0,1041.0,232.0,230.0,2.0,16.0,560.0,440.0,21.0
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,41.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,353.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,77.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Student Financial Aid and Net Price

#### Student financial aid and net price

<b>UPGRNTN</b>    Number of undergraduate students awarded Pell grants<br>
<b>UPGRNTP</b>   Percent of undergraduate students awarded Pell grants><br>
<b>UPGRNTT</b> Total amount of Pell grant aid awarded to undergraduate students<br>
<b>UPGRNTA</b> Average amount Pell grant aid awarded to undergraduate students<br>
<b>UFLOANN</b> Number of undergraduate students awarded federal student loans<br>
<b>UFLOANP</b> Percent of undergraduate students awarded federal student loans<br>
<b>UFLOANT</b> Total amount of federal student loans awarded to undergraduate students<br>
<b>UFLOANA</b> Average amount of federal student loans awarded to undergraduate students<br>

T8

In [51]:
final_df[["INSTNM","UPGRNTN_1617","UPGRNTP_1617","UPGRNTT_1617","UPGRNTA_1617","UFLOANN_1617","UFLOANP_1617","UFLOANT_1617","UFLOANA_1617"]]

,INSTNM,UPGRNTN_1617,UPGRNTP_1617,UPGRNTT_1617,UPGRNTA_1617,UFLOANN_1617,UFLOANP_1617,UFLOANT_1617,UFLOANA_1617
0,Barry University,1638.0,46.0,7087709.0,4327.0,2105.0,59.0,17542709.0,8334.0
1,Broward College,21595.0,49.0,71045177.0,3290.0,6345.0,15.0,21268961.0,3352.0
2,Broward College,21595.0,49.0,71045177.0,3290.0,6345.0,15.0,21268961.0,3352.0
3,Concorde Career Institute-Miramar,616.0,66.0,2035934.0,3305.0,676.0,73.0,3798793.0,5620.0
4,Florida International University,22395.0,49.0,87461681.0,3905.0,17795.0,39.0,129201008.0,7261.0
5,Florida Career College-Miami,480.0,75.0,1763420.0,3674.0,404.0,63.0,2993491.0,7410.0
6,Keiser University-Ft Lauderdale,10480.0,61.0,43035939.0,4106.0,11939.0,69.0,126074745.0,10560.0
7,Keiser University-Ft Lauderdale,10480.0,61.0,43035939.0,4106.0,11939.0,69.0,126074745.0,10560.0
8,Miami Dade College,27149.0,49.0,107785817.0,3970.0,3363.0,6.0,23310080.0,6931.0
9,Miami Dade College,27149.0,49.0,107785817.0,3970.0,3363.0,6.0,23310080.0,6931.0
10,University of Miami,1518.0,14.0,7006641.0,4616.0,2823.0,26.0,16319770.0,5781.0
11,Nova Southeastern University,1747.0,41.0,7445444.0,4262.0,2333.0,54.0,21397505.0,9172.0
12,St Thomas University,417.0,15.0,1861282.0,4464.0,487.0,18.0,5170776.0,10618.0
13,City College-Fort Lauderdale,307.0,70.0,1026343.0,3343.0,350.0,80.0,2857949.0,8166.0
14,Florida National University-Main Campus,2380.0,75.0,13372392.0,5619.0,2255.0,71.0,23809850.0,10559.0
15,Florida National University-Main Campus,2380.0,75.0,13372392.0,5619.0,2255.0,71.0,23809850.0,10559.0
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,198.0,74.0,808539.0,4084.0,222.0,83.0,1771501.0,7980.0
19,Advance Science College,72.0,90.0,408462.0,5673.0,50.0,63.0,252600.0,5052.0
20,Universal Career School,168.0,56.0,976920.0,5815.0,185.0,61.0,1202500.0,6500.0
21,Brown Mackie College-Miami,128.0,70.0,451328.0,3526.0,132.0,72.0,1119888.0,8484.0
22,SABER College,577.0,85.0,3022549.0,5238.0,577.0,85.0,6102025.0,10575.0
23,Miami Regional University,399.0,32.0,1387708.0,3478.0,741.0,59.0,4511369.0,6088.0
24,Miami Regional University,399.0,32.0,1387708.0,3478.0,741.0,59.0,4511369.0,6088.0
25,Orion College,195.0,89.0,1039833.0,5332.0,209.0,96.0,1881828.0,9004.0
26,Orion College,195.0,89.0,1039833.0,5332.0,209.0,96.0,1881828.0,9004.0
27,Future-Tech Institute,103.0,100.0,593130.0,5759.0,0.0,0.0,0.0,NaN
28,American Medical Academy,152.0,23.0,511065.0,3362.0,188.0,28.0,1325332.0,7050.0
29,West Coast University-Miami,332.0,68.0,1333243.0,4016.0,456.0,94.0,4349929.0,9539.0
30,Florida Career College,360.0,68.0,1445226.0,4015.0,267.0,51.0,2207247.0,8267.0
31,Florida Career College-Lauderdale Lakes,593.0,71.0,2356913.0,3975.0,414.0,50.0,3152180.0,7614.0
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,41.0,76.0,114912.0,2803.0,41.0,76.0,72851.0,1777.0
34,Hope College of Arts and Sciences,90.0,69.0,232297.0,2581.0,98.0,75.0,612232.0,6247.0
35,Fortis College-Cutler Bay,223.0,69.0,860942.0,3861.0,245.0,76.0,2108512.0,8606.0

In [52]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","UPGRNTN_1617","UPGRNTP_1617","UPGRNTT_1617","UPGRNTA_1617","UFLOANN_1617","UFLOANP_1617","UFLOANT_1617","UFLOANA_1617"]],on=["INSTNM","AWLEVEL"])

In [53]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,SATMT25_2017,ACTMT75 _2017,UPGRNTN_1617,UPGRNTP_1617,UPGRNTT_1617,UPGRNTA_1617,UFLOANN_1617,UFLOANP_1617,UFLOANT_1617,UFLOANA_1617
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,NaN,NaN,27149.0,49.0,107785817.0,3970.0,3363.0,6.0,23310080.0,6931.0
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,NaN,NaN,10480.0,61.0,43035939.0,4106.0,11939.0,69.0,126074745.0,10560.0
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,530.0,28.0,1747.0,41.0,7445444.0,4262.0,2333.0,54.0,21397505.0,9172.0
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,NaN,NaN,21595.0,49.0,71045177.0,3290.0,6345.0,15.0,21268961.0,3352.0
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,530.0,25.0,22395.0,49.0,87461681.0,3905.0,17795.0,39.0,129201008.0,7261.0
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,NaN,NaN,27149.0,49.0,107785817.0,3970.0,3363.0,6.0,23310080.0,6931.0
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,NaN,NaN,399.0,32.0,1387708.0,3478.0,741.0,59.0,4511369.0,6088.0
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,610.0,32.0,1518.0,14.0,7006641.0,4616.0,2823.0,26.0,16319770.0,5781.0
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,NaN,NaN,577.0,85.0,3022549.0,5238.0,577.0,85.0,6102025.0,10575.0
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,410.0,20.0,1638.0,46.0,7087709.0,4327.0,2105.0,59.0,17542709.0,8334.0
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,NaN,NaN,21595.0,49.0,71045177.0,3290.0,6345.0,15.0,21268961.0,3352.0
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,NaN,NaN,128.0,70.0,451328.0,3526.0,132.0,72.0,1119888.0,8484.0
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,NaN,NaN,480.0,75.0,1763420.0,3674.0,404.0,63.0,2993491.0,7410.0
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,NaN,NaN,2380.0,75.0,13372392.0,5619.0,2255.0,71.0,23809850.0,10559.0
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,NaN,NaN,2380.0,75.0,13372392.0,5619.0,2255.0,71.0,23809850.0,10559.0
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,NaN,NaN,10480.0,61.0,43035939.0,4106.0,11939.0,69.0,126074745.0,10560.0
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,NaN,NaN,616.0,66.0,2035934.0,3305.0,676.0,73.0,3798793.0,5620.0
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,NaN,NaN,593.0,71.0,2356913.0,3975.0,414.0,50.0,3152180.0,7614.0
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,NaN,NaN,332.0,68.0,1333243.0,4016.0,456.0,94.0,4349929.0,9539.0
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,NaN,NaN,223.0,69.0,860942.0,3861.0,245.0,76.0,2108512.0,8606.0
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,NaN,NaN,168.0,56.0,976920.0,5815.0,185.0,61.0,1202500.0,6500.0
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,NaN,NaN,307.0,70.0,1026343.0,3343.0,350.0,80.0,2857949.0,8166.0
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,NaN,NaN,41.0,76.0,114912.0,2803.0,41.0,76.0,72851.0,1777.0
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,NaN,NaN,198.0,74.0,808539.0,4084.0,222.0,83.0,1771501.0,7980.0
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,NaN,NaN,360.0,68.0,1445226.0,4015.0,267.0,51.0,2207247.0,8267.0
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,NaN,NaN,399.0,32.0,1387708.0,3478.0,741.0,59.0,4511369.0,6088.0
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,NaN,NaN,195.0,89.0,1039833.0,5332.0,209.0,96.0,1881828.0,9004.0
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,NaN,NaN,152.0,23.0,511065.0,3362.0,188.0,28.0,1325332.0,7050.0
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,NaN,NaN,90.0,69.0,232297.0,2581.0,98.0,75.0,612232.0,6247.0
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,440.0,21.0,417.0,15.0,1861282.0,4464.0,487.0,18.0,5170776.0,10618.0
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,72.0,90.0,408462.0,5673.0,50.0,63.0,252600.0,5052.0
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,195.0,89.0,1039833.0,5332.0,209.0,96.0,1881828.0,9004.0
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,103.0,100.0,593130.0,5759.0,0.0,0.0,0.0,NaN

<b>GISTT2</b>   Total amount of grant and scholarship aid awarded, 2016-17 <br>
<b>GISTA2</b>   Average amount of grant and scholarship aid awarded, 2016-17 <br>
<b>GISTT1</b> Total amount of grant and scholarship aid awarded, 2015-16<br>
<b>GISTA1</b> Average amount of grant and scholarship aid awarded, 2015-16<br>
<b>GISTT0</b> Total amount of grant and scholarship aid awarded, 2014-15<br>
<b>GISTA0</b> Average amount of grant and scholarship aid awarded, 2014-15<br>

T9

In [54]:
final_df[["INSTNM","GISTT2_1617","GISTA2_1617","GISTT1_1617","GISTA1_1617","GISTT0_1617","GISTA0_1617"]]

,INSTNM,GISTT2_1617,GISTA2_1617,GISTT1_1617,GISTA1_1617,GISTT0_1617,GISTA0_1617
0,Barry University,NaN,NaN,NaN,NaN,NaN,NaN
1,Broward College,12872474.0,4881.0,15457734.0,4840.0,15388526.0,5089.0
2,Broward College,12872474.0,4881.0,15457734.0,4840.0,15388526.0,5089.0
3,Concorde Career Institute-Miramar,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida International University,22087627.0,6667.0,16764438.0,5903.0,19754690.0,7374.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN
8,Miami Dade College,31323753.0,5198.0,34511359.0,5540.0,35004145.0,5224.0
9,Miami Dade College,31323753.0,5198.0,34511359.0,5540.0,35004145.0,5224.0
10,University of Miami,NaN,NaN,NaN,NaN,NaN,NaN
11,Nova Southeastern University,NaN,NaN,NaN,NaN,NaN,NaN
12,St Thomas University,NaN,NaN,NaN,NaN,NaN,NaN
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","GISTT2_1617","GISTA2_1617","GISTT1_1617","GISTA1_1617","GISTT0_1617","GISTA0_1617"]],on=["INSTNM","AWLEVEL"])

<b>GIS4T2</b> Total amount of grant and scholarship aid awarded, all income levels, 2016-17 <br>
<b>GIS4A2</b> Average amount of grant and scholarship aid awarded, all income levels, 2016-17

In [56]:
final_df[["INSTNM","GIS4T2_1617","GIS4A2_1617"]]

                                     INSTNM  GIS4T2_1617  GIS4A2_1617
0                          Barry University          NaN          NaN
1                           Broward College   10832665.0       4212.0
2                           Broward College   10832665.0       4212.0
3         Concorde Career Institute-Miramar          NaN          NaN
4          Florida International University   21169745.0       6552.0
5              Florida Career College-Miami          NaN          NaN
6           Keiser University-Ft Lauderdale          NaN          NaN
7           Keiser University-Ft Lauderdale          NaN          NaN
8                        Miami Dade College   28673603.0       5457.0
9                        Miami Dade College   28673603.0       5457.0
10                      University of Miami          NaN          NaN
11             Nova Southeastern University          NaN          NaN
12                     St Thomas University          NaN          NaN
13             City College-Fort Lauderdale          NaN          NaN
14  Florida National University-Main Campus          NaN          NaN
15  Florida National University-Main Campus          NaN          NaN
16  ITT Technical Institute-Fort Lauderdale          NaN          NaN
17          ITT Technical Institute-Hialeah          NaN          NaN
18                       City College-Miami          NaN          NaN
19                  Advance Science College          NaN          NaN
20                  Universal Career School          NaN          NaN
21               Brown Mackie College-Miami          NaN          NaN
22                            SABER College          NaN          NaN
23                Miami Regional University          NaN          NaN
24                Miami Regional University          NaN          NaN
25                            Orion College          NaN          NaN
26                            Orion College          NaN          NaN
27                    Future-Tech Institute          NaN          NaN
28                 American Medical Academy          NaN          NaN
29              West Coast University-Miami          NaN          NaN
30                   Florida Career College          NaN          NaN
31  Florida Career College-Lauderdale Lakes          NaN          NaN
32           Florida Career College-Kendall          NaN          NaN
33      Med-Life Institute-Lauderdale Lakes          NaN          NaN
34        Hope College of Arts and Sciences          NaN          NaN
35                Fortis College-Cutler Bay          NaN          NaN

<b>GIS4G12</b>    Number awarded grant and scholarship aid, income level (0-30,000), 2016-17<br>
<b>GIS4T12</b>   Total amount of grant and scholarship aid awarded, income level (0-30,000), 2016-17<br>
<b>GIS4A12</b>   Average amount of grant and scholarship aid awarded, income level (0-30,000), 2016-17<br>

In [57]:
final_df[["INSTNM","GIS4G12_1617","GIS4T12_1617","GIS4A12_1617"]]

,INSTNM,GIS4G12_1617,GIS4T12_1617,GIS4A12_1617
0,Barry University,NaN,NaN,NaN
1,Broward College,1480.0,7241178.0,4866.0
2,Broward College,1480.0,7241178.0,4866.0
3,Concorde Career Institute-Miramar,NaN,NaN,NaN
4,Florida International University,1233.0,11153181.0,9031.0
5,Florida Career College-Miami,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN
8,Miami Dade College,3891.0,22440168.0,5763.0
9,Miami Dade College,3891.0,22440168.0,5763.0
10,University of Miami,NaN,NaN,NaN
11,Nova Southeastern University,NaN,NaN,NaN
12,St Thomas University,NaN,NaN,NaN
13,City College-Fort Lauderdale,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN

<b>GIS4N22</b>   Number in income level (30,001-48,000), 2016-17<br>
<b>GIS4G22</b>    Number awarded grant and scholarship aid, income level (30,001-48,000), 2016-17<br>
<b>GIS4T22</b>   Total amount of grant and scholarship aid awarded, income level (30,001-48,000), 2016-17<br>
<b>GIS4A22</b>   Average amount of grant and scholarship aid awarded, income level (30,001-48,000), 2016-17<br>

In [58]:
final_df[["INSTNM","GIS4N22_1617","GIS4G22_1617","GIS4T22_1617","GIS4A22_1617"]]

,INSTNM,GIS4N22_1617,GIS4G22_1617,GIS4T22_1617,GIS4A22_1617
0,Barry University,NaN,NaN,NaN,NaN
1,Broward College,583.0,572.0,2486366.0,4265.0
2,Broward College,583.0,572.0,2486366.0,4265.0
3,Concorde Career Institute-Miramar,NaN,NaN,NaN,NaN
4,Florida International University,497.0,496.0,3980050.0,8008.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
8,Miami Dade College,970.0,967.0,4848005.0,4998.0
9,Miami Dade College,970.0,967.0,4848005.0,4998.0
10,University of Miami,NaN,NaN,NaN,NaN
11,Nova Southeastern University,NaN,NaN,NaN,NaN
12,St Thomas University,NaN,NaN,NaN,NaN
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN

<b>GIS4N32</b>   Number in income level (48,001-75,000), 2016-17<br>
<b>GIS4G32</b>   Number awarded grant and scholarship aid, income level (48,001-75,000), 2016-17<br>
<b>GIS4T32</b>   Total amount of grant and scholarship aid awarded, income level (48,001-75,000), 2016-17<br>
<b>GIS4A32</b>   Average amount of grant and scholarship aid awarded, income level (48,001-75,000), 2016-17<br>

In [59]:
final_df[["INSTNM","GIS4N32_1617","GIS4G32_1617","GIS4T32_1617","GIS4A32_1617"]]

,INSTNM,GIS4N32_1617,GIS4G32_1617,GIS4T32_1617,GIS4A32_1617
0,Barry University,NaN,NaN,NaN,NaN
1,Broward College,354.0,317.0,979704.0,2768.0
2,Broward College,354.0,317.0,979704.0,2768.0
3,Concorde Career Institute-Miramar,NaN,NaN,NaN,NaN
4,Florida International University,459.0,454.0,2639298.0,5750.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
8,Miami Dade College,330.0,326.0,1277593.0,3871.0
9,Miami Dade College,330.0,326.0,1277593.0,3871.0
10,University of Miami,NaN,NaN,NaN,NaN
11,Nova Southeastern University,NaN,NaN,NaN,NaN
12,St Thomas University,NaN,NaN,NaN,NaN
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN

<b>GIS4N42</b>   Number in income level (75,001-110,000), 2016-17<br>
<b>GIS4G42</b>   Number awarded grant and scholarship aid, income level (75,001-110,000), 2016-17<br>
<b>GIS4T42</b>   Total amount of grant and scholarship aid awarded, income level (75,001-110,000), 2016-17<br>
<b>GIS4A42</b>   Average amount of grant and scholarship aid awarded, income level (75,001-110,000), 2016-17<br>

In [60]:
final_df[["INSTNM","GIS4N42_1617","GIS4G42_1617","GIS4T42_1617","GIS4A42_1617"]]

,INSTNM,GIS4N42_1617,GIS4G42_1617,GIS4T42_1617,GIS4A42_1617
0,Barry University,NaN,NaN,NaN,NaN
1,Broward College,104.0,36.0,76858.0,739.0
2,Broward College,104.0,36.0,76858.0,739.0
3,Concorde Career Institute-Miramar,NaN,NaN,NaN,NaN
4,Florida International University,418.0,380.0,1642032.0,3928.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
8,Miami Dade College,43.0,28.0,102910.0,2393.0
9,Miami Dade College,43.0,28.0,102910.0,2393.0
10,University of Miami,NaN,NaN,NaN,NaN
11,Nova Southeastern University,NaN,NaN,NaN,NaN
12,St Thomas University,NaN,NaN,NaN,NaN
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN

<b>GIS4N52</b>   Number in income level (110,001 or more), 2016-17<br>
<b>GIS4G52</b>   Number awarded grant and scholarship aid, income level (110,001 or more), 2016-17<br>
<b>GIS4T52</b>   Total amount of grant and scholarship aid awarded, income level (110,001 or more), 2016-17<br>
<b>GIS4A52</b>   Average amount of grant and scholarship aid awarded, income level (110,001 or more), 2016-17<br>

In [61]:
final_df[["INSTNM","GIS4N52_1617","GIS4G52_1617","GIS4T52_1617","GIS4A52_1617"]]

,INSTNM,GIS4N52_1617,GIS4G52_1617,GIS4T52_1617,GIS4A52_1617
0,Barry University,NaN,NaN,NaN,NaN
1,Broward College,43.0,9.0,48559.0,1129.0
2,Broward College,43.0,9.0,48559.0,1129.0
3,Concorde Career Institute-Miramar,NaN,NaN,NaN,NaN
4,Florida International University,622.0,436.0,1755184.0,2822.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN
8,Miami Dade College,17.0,2.0,4927.0,290.0
9,Miami Dade College,17.0,2.0,4927.0,290.0
10,University of Miami,NaN,NaN,NaN,NaN
11,Nova Southeastern University,NaN,NaN,NaN,NaN
12,St Thomas University,NaN,NaN,NaN,NaN
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN

## Combined table

<b>GIS4T2</b> Total amount of grant and scholarship aid awarded, all income levels, 2016-17 <br>
<b>GIS4A2</b> Average amount of grant and scholarship aid awarded, all income levels, 2016-17<br>
<b>GIS4G12</b>    Number awarded grant and scholarship aid, income level (0-30,000), 2016-17<br>
<b>GIS4T12</b>   Total amount of grant and scholarship aid awarded, income level (0-30,000), 2016-17<br>
<b>GIS4A12</b>   Average amount of grant and scholarship aid awarded, income level (0-30,000), 2016-17<br>
<b>GIS4N22</b>   Number in income level (30,001-48,000), 2016-17<br>
<b>GIS4G22</b>    Number awarded grant and scholarship aid, income level (30,001-48,000), 2016-17<br>
<b>GIS4T22</b>   Total amount of grant and scholarship aid awarded, income level (30,001-48,000), 2016-17<br>
<b>GIS4A22</b>   Average amount of grant and scholarship aid awarded, income level (30,001-48,000), 2016-17<br>
<b>GIS4N32</b>   Number in income level (48,001-75,000), 2016-17<br>
<b>GIS4G32</b>   Number awarded grant and scholarship aid, income level (48,001-75,000), 2016-17<br>
<b>GIS4T32</b>   Total amount of grant and scholarship aid awarded, income level (48,001-75,000), 2016-17<br>
<b>GIS4A32</b>   Average amount of grant and scholarship aid awarded, income level (48,001-75,000), 2016-17<br>
<b>GIS4N42</b>   Number in income level (75,001-110,000), 2016-17<br>
<b>GIS4G42</b>   Number awarded grant and scholarship aid, income level (75,001-110,000), 2016-17<br>
<b>GIS4T42</b>   Total amount of grant and scholarship aid awarded, income level (75,001-110,000), 2016-17<br>
<b>GIS4A42</b>   Average amount of grant and scholarship aid awarded, income level (75,001-110,000), 2016-17<br>
<b>GIS4N52</b>   Number in income level (110,001 or more), 2016-17<br>
<b>GIS4G52</b>   Number awarded grant and scholarship aid, income level (110,001 or more), 2016-17<br>
<b>GIS4T52</b>   Total amount of grant and scholarship aid awarded, income level (110,001 or more), 2016-17<br>
<b>GIS4A52</b>   Average amount of grant and scholarship aid awarded, income level (110,001 or more), 2016-17<br>

T10

In [62]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","GIS4T2_1617","GIS4A2_1617","GIS4N22_1617","GIS4G22_1617","GIS4T22_1617","GIS4A22_1617","GIS4N32_1617","GIS4G32_1617","GIS4T32_1617","GIS4A32_1617","GIS4N42_1617","GIS4G42_1617","GIS4T42_1617","GIS4A42_1617"]],on=["INSTNM","AWLEVEL"])

In [63]:
final_df[["INSTNM","GIS4T2_1617","GIS4A2_1617","GIS4N22_1617","GIS4G22_1617","GIS4T22_1617","GIS4A22_1617","GIS4N32_1617","GIS4G32_1617","GIS4T32_1617","GIS4A32_1617","GIS4N42_1617","GIS4G42_1617","GIS4T42_1617","GIS4A42_1617"]]

,INSTNM,GIS4T2_1617,GIS4A2_1617,GIS4N22_1617,GIS4G22_1617,GIS4T22_1617,GIS4A22_1617,GIS4N32_1617,GIS4G32_1617,GIS4T32_1617,GIS4A32_1617,GIS4N42_1617,GIS4G42_1617,GIS4T42_1617,GIS4A42_1617
0,Barry University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Broward College,10832665.0,4212.0,583.0,572.0,2486366.0,4265.0,354.0,317.0,979704.0,2768.0,104.0,36.0,76858.0,739.0
2,Broward College,10832665.0,4212.0,583.0,572.0,2486366.0,4265.0,354.0,317.0,979704.0,2768.0,104.0,36.0,76858.0,739.0
3,Concorde Career Institute-Miramar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida International University,21169745.0,6552.0,497.0,496.0,3980050.0,8008.0,459.0,454.0,2639298.0,5750.0,418.0,380.0,1642032.0,3928.0
5,Florida Career College-Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Keiser University-Ft Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Miami Dade College,28673603.0,5457.0,970.0,967.0,4848005.0,4998.0,330.0,326.0,1277593.0,3871.0,43.0,28.0,102910.0,2393.0
9,Miami Dade College,28673603.0,5457.0,970.0,967.0,4848005.0,4998.0,330.0,326.0,1277593.0,3871.0,43.0,28.0,102910.0,2393.0
10,University of Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Nova Southeastern University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,St Thomas University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,City College-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Florida National University-Main Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Advance Science College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Universal Career School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,SABER College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Miami Regional University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Miami Regional University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Orion College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Orion College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Future-Tech Institute,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,West Coast University-Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Florida Career College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Florida Career College-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,GIS4T22_1617,GIS4A22_1617,GIS4N32_1617,GIS4G32_1617,GIS4T32_1617,GIS4A32_1617,GIS4N42_1617,GIS4G42_1617,GIS4T42_1617,GIS4A42_1617
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,4848005.0,4998.0,330.0,326.0,1277593.0,3871.0,43.0,28.0,102910.0,2393.0
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,2486366.0,4265.0,354.0,317.0,979704.0,2768.0,104.0,36.0,76858.0,739.0
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,3980050.0,8008.0,459.0,454.0,2639298.0,5750.0,418.0,380.0,1642032.0,3928.0
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,4848005.0,4998.0,330.0,326.0,1277593.0,3871.0,43.0,28.0,102910.0,2393.0
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,2486366.0,4265.0,354.0,317.0,979704.0,2768.0,104.0,36.0,76858.0,739.0
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<b>NPGRN2</b> Average net price-students awarded grant or scholarship aid, 2016-17<br>
<b>NPGRN1</b> Average net price-students awarded grant or scholarship aid, 2015-16<br>
<b>NPGRN0</b> Average net price-students awarded grant or scholarship aid, 2014-15<br>
<b>NPT412</b> Average net price (income 0-30,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT422</b> Average net price (income 30,001-48,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT432</b> Average net price (income 48,001-75,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT442</b> Average net price (income 75,001-110,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT455</b> Average net price (income over 110,000)-students awarded Title IV federal financial aid, 2016-17<br>

In [65]:
final_df[["INSTNM","NPGRN2_1617","NPGRN1_1617","NPGRN0_1617","NPT412_1617","NPT422_1617","NPT432_1617","NPT442_1617","NPT452_1617"]]

,INSTNM,NPGRN2_1617,NPGRN1_1617,NPGRN0_1617,NPT412_1617,NPT422_1617,NPT432_1617,NPT442_1617,NPT452_1617
0,Barry University,21547.0,21489.0,24660.0,18648.0,17569.0,20273.0,23970.0,26987.0
1,Broward College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Broward College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Concorde Career Institute-Miramar,26953.0,23620.0,23559.0,27107.0,29239.0,29977.0,30151.0,30639.0
4,Florida International University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Florida Career College-Miami,30757.0,31886.0,41273.0,30646.0,31146.0,33530.0,34546.0,34546.0
6,Keiser University-Ft Lauderdale,26730.0,27516.0,27190.0,28809.0,29097.0,30854.0,32056.0,32111.0
7,Keiser University-Ft Lauderdale,26730.0,27516.0,27190.0,28809.0,29097.0,30854.0,32056.0,32111.0
8,Miami Dade College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Miami Dade College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,University of Miami,42204.0,37424.0,35444.0,22641.0,15596.0,19779.0,25551.0,39815.0
11,Nova Southeastern University,26740.0,25344.0,23638.0,24053.0,24841.0,26360.0,28524.0,28866.0
12,St Thomas University,24836.0,18778.0,21033.0,21526.0,25097.0,21769.0,24629.0,28211.0
13,City College-Fort Lauderdale,21864.0,20582.0,22727.0,22087.0,19429.0,NaN,NaN,25175.0
14,Florida National University-Main Campus,20995.0,20361.0,20019.0,21026.0,21783.0,23385.0,NaN,NaN
15,Florida National University-Main Campus,20995.0,20361.0,20019.0,21026.0,21783.0,23385.0,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,17424.0,19367.0,17505.0,16902.0,23478.0,NaN,NaN,NaN
19,Advance Science College,20564.0,19299.0,18442.0,22606.0,NaN,NaN,NaN,NaN
20,Universal Career School,19700.0,19740.0,19785.0,19700.0,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,SABER College,15595.0,15785.0,14778.0,15801.0,15409.0,NaN,NaN,NaN
23,Miami Regional University,26132.0,30232.0,26875.0,20252.0,20501.0,20806.0,20842.0,15499.0
24,Miami Regional University,26132.0,30232.0,26875.0,20252.0,20501.0,20806.0,20842.0,15499.0
25,Orion College,18650.0,18726.0,18051.0,18727.0,17909.0,23174.0,NaN,NaN
26,Orion College,18650.0,18726.0,18051.0,18727.0,17909.0,23174.0,NaN,NaN
27,Future-Tech Institute,5553.0,5021.0,4945.0,5553.0,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,West Coast University-Miami,27504.0,35845.0,32216.0,27570.0,27103.0,NaN,NaN,NaN
30,Florida Career College,26057.0,28300.0,45913.0,25947.0,27125.0,28320.0,30792.0,NaN
31,Florida Career College-Lauderdale Lakes,25502.0,27616.0,42901.0,25592.0,25106.0,28454.0,30629.0,29629.0
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,27564.0,NaN,NaN,27974.0,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,25673.0,NaN,NaN,25878.0,26497.0,NaN,30292.0,NaN

<b>NPT411</b> Average net price (income 0-30,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT421</b> Average net price (income 30,001-48,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT431</b> Average net price (income 48,001-75,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT441</b> Average net price (income 75,001-110,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT451</b> Average net price (income over 110,000)-students awarded Title IV federal financial aid, 2015-16<br>

In [66]:
final_df[["INSTNM","NPT411_1617","NPT421_1617","NPT431_1617","NPT441_1617","NPT451_1617"]]

,INSTNM,NPT411_1617,NPT421_1617,NPT431_1617,NPT441_1617,NPT451_1617
0,Barry University,17981.0,17255.0,23647.0,24957.0,31616.0
1,Broward College,NaN,NaN,NaN,NaN,NaN
2,Broward College,NaN,NaN,NaN,NaN,NaN
3,Concorde Career Institute-Miramar,25674.0,27824.0,29231.0,29616.0,29832.0
4,Florida International University,NaN,NaN,NaN,NaN,NaN
5,Florida Career College-Miami,31950.0,32277.0,NaN,NaN,NaN
6,Keiser University-Ft Lauderdale,27386.0,28025.0,29572.0,30820.0,31158.0
7,Keiser University-Ft Lauderdale,27386.0,28025.0,29572.0,30820.0,31158.0
8,Miami Dade College,NaN,NaN,NaN,NaN,NaN
9,Miami Dade College,NaN,NaN,NaN,NaN,NaN
10,University of Miami,26911.0,18903.0,23046.0,28385.0,37351.0
11,Nova Southeastern University,22993.0,22271.0,24266.0,26834.0,27321.0
12,St Thomas University,15760.0,18146.0,16797.0,19789.0,19870.0
13,City College-Fort Lauderdale,20730.0,21796.0,NaN,NaN,NaN
14,Florida National University-Main Campus,20274.0,20328.0,23109.0,NaN,NaN
15,Florida National University-Main Campus,20274.0,20328.0,23109.0,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,18087.0,21211.0,24603.0,24603.0,NaN
19,Advance Science College,21375.0,NaN,NaN,NaN,NaN
20,Universal Career School,19740.0,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN,NaN
22,SABER College,17155.0,17161.0,17140.0,NaN,NaN
23,Miami Regional University,21412.0,24877.0,25142.0,NaN,NaN
24,Miami Regional University,21412.0,24877.0,25142.0,NaN,NaN
25,Orion College,18726.0,NaN,NaN,NaN,NaN
26,Orion College,18726.0,NaN,NaN,NaN,NaN
27,Future-Tech Institute,5021.0,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN,NaN
29,West Coast University-Miami,35845.0,NaN,NaN,NaN,NaN
30,Florida Career College,28305.0,28452.0,29985.0,32272.0,NaN
31,Florida Career College-Lauderdale Lakes,27652.0,27200.0,28552.0,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN,NaN

<b>NPT410</b> Average net price (income 0-30,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT420</b> Average net price (income 30,001-48,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT430</b> Average net price (income 48,001-75,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT440</b> Average net price (income 75,001-110,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT450</b> Average net price (income over 110,000)-students awarded Title IV federal financial aid, 2014-15<br>

In [67]:
final_df[["INSTNM","NPT410_1617","NPT420_1617","NPT430_1617","NPT440_1617","NPT450  _1617"]]

,INSTNM,NPT410_1617,NPT420_1617,NPT430_1617,NPT440_1617,NPT450 _1617
0,Barry University,22047.0,21820.0,25308.0,28944.0,29351.0
1,Broward College,NaN,NaN,NaN,NaN,NaN
2,Broward College,NaN,NaN,NaN,NaN,NaN
3,Concorde Career Institute-Miramar,24669.0,28826.0,28493.0,28826.0,28826.0
4,Florida International University,NaN,NaN,NaN,NaN,NaN
5,Florida Career College-Miami,41450.0,41497.0,44494.0,NaN,NaN
6,Keiser University-Ft Lauderdale,28372.0,28893.0,29966.0,30683.0,30922.0
7,Keiser University-Ft Lauderdale,28372.0,28893.0,29966.0,30683.0,30922.0
8,Miami Dade College,NaN,NaN,NaN,NaN,NaN
9,Miami Dade College,NaN,NaN,NaN,NaN,NaN
10,University of Miami,25202.0,24745.0,30380.0,31921.0,39742.0
11,Nova Southeastern University,21083.0,22580.0,23400.0,27718.0,26046.0
12,St Thomas University,22957.0,25705.0,27326.0,28380.0,27008.0
13,City College-Fort Lauderdale,22545.0,23268.0,28208.0,NaN,NaN
14,Florida National University-Main Campus,19590.0,19621.0,21938.0,NaN,NaN
15,Florida National University-Main Campus,19590.0,19621.0,21938.0,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,16430.0,16454.0,18599.0,22389.0,NaN
19,Advance Science College,20498.0,NaN,NaN,NaN,NaN
20,Universal Career School,19785.0,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN,NaN
22,SABER College,14702.0,15507.0,16353.0,NaN,NaN
23,Miami Regional University,21287.0,24299.0,24562.0,24562.0,NaN
24,Miami Regional University,21287.0,24299.0,24562.0,24562.0,NaN
25,Orion College,17839.0,16850.0,NaN,NaN,NaN
26,Orion College,17839.0,16850.0,NaN,NaN,NaN
27,Future-Tech Institute,4945.0,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN,NaN
29,West Coast University-Miami,32216.0,NaN,NaN,NaN,NaN
30,Florida Career College,46544.0,45941.0,48481.0,50044.0,NaN
31,Florida Career College-Lauderdale Lakes,43283.0,43203.0,45566.0,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,NaN,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,NaN,NaN,NaN,NaN,NaN

## Combined Table for Average net price students awarded Title IV federal financial aid

<b>NPGRN2</b> Average net price-students awarded grant or scholarship aid, 2016-17<br>
<b>NPGRN1</b> Average net price-students awarded grant or scholarship aid, 2015-16<br>
<b>NPGRN0</b> Average net price-students awarded grant or scholarship aid, 2014-15<br>
<b>NPT412</b> Average net price (income 0-30,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT422</b> Average net price (income 30,001-48,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT432</b> Average net price (income 48,001-75,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT442</b> Average net price (income 75,001-110,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT455</b> Average net price (income over 110,000)-students awarded Title IV federal financial aid, 2016-17<br>
<b>NPT411</b> Average net price (income 0-30,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT421</b> Average net price (income 30,001-48,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT431</b> Average net price (income 48,001-75,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT441</b> Average net price (income 75,001-110,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT451</b> Average net price (income over 110,000)-students awarded Title IV federal financial aid, 2015-16<br>
<b>NPT410</b> Average net price (income 0-30,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT420</b> Average net price (income 30,001-48,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT430</b> Average net price (income 48,001-75,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT440</b> Average net price (income 75,001-110,000)-students awarded Title IV federal financial aid, 2014-15<br>
<b>NPT450</b> Average net price (income over 110,000)-students awarded Title IV federal financial aid, 2014-15<br>

In [68]:
final_df[["INSTNM","NPGRN2_1617","NPGRN1_1617","NPGRN0_1617","NPT412_1617","NPT422_1617","NPT432_1617","NPT442_1617","NPT452_1617","NPT411_1617","NPT421_1617","NPT431_1617","NPT441_1617","NPT451_1617","NPT410_1617","NPT420_1617","NPT430_1617","NPT440_1617","NPT450  _1617"]]

,INSTNM,NPGRN2_1617,NPGRN1_1617,NPGRN0_1617,NPT412_1617,NPT422_1617,NPT432_1617,NPT442_1617,NPT452_1617,NPT411_1617,NPT421_1617,NPT431_1617,NPT441_1617,NPT451_1617,NPT410_1617,NPT420_1617,NPT430_1617,NPT440_1617,NPT450 _1617
0,Barry University,21547.0,21489.0,24660.0,18648.0,17569.0,20273.0,23970.0,26987.0,17981.0,17255.0,23647.0,24957.0,31616.0,22047.0,21820.0,25308.0,28944.0,29351.0
1,Broward College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Broward College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Concorde Career Institute-Miramar,26953.0,23620.0,23559.0,27107.0,29239.0,29977.0,30151.0,30639.0,25674.0,27824.0,29231.0,29616.0,29832.0,24669.0,28826.0,28493.0,28826.0,28826.0
4,Florida International University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Florida Career College-Miami,30757.0,31886.0,41273.0,30646.0,31146.0,33530.0,34546.0,34546.0,31950.0,32277.0,NaN,NaN,NaN,41450.0,41497.0,44494.0,NaN,NaN
6,Keiser University-Ft Lauderdale,26730.0,27516.0,27190.0,28809.0,29097.0,30854.0,32056.0,32111.0,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
7,Keiser University-Ft Lauderdale,26730.0,27516.0,27190.0,28809.0,29097.0,30854.0,32056.0,32111.0,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
8,Miami Dade College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Miami Dade College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,University of Miami,42204.0,37424.0,35444.0,22641.0,15596.0,19779.0,25551.0,39815.0,26911.0,18903.0,23046.0,28385.0,37351.0,25202.0,24745.0,30380.0,31921.0,39742.0
11,Nova Southeastern University,26740.0,25344.0,23638.0,24053.0,24841.0,26360.0,28524.0,28866.0,22993.0,22271.0,24266.0,26834.0,27321.0,21083.0,22580.0,23400.0,27718.0,26046.0
12,St Thomas University,24836.0,18778.0,21033.0,21526.0,25097.0,21769.0,24629.0,28211.0,15760.0,18146.0,16797.0,19789.0,19870.0,22957.0,25705.0,27326.0,28380.0,27008.0
13,City College-Fort Lauderdale,21864.0,20582.0,22727.0,22087.0,19429.0,NaN,NaN,25175.0,20730.0,21796.0,NaN,NaN,NaN,22545.0,23268.0,28208.0,NaN,NaN
14,Florida National University-Main Campus,20995.0,20361.0,20019.0,21026.0,21783.0,23385.0,NaN,NaN,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
15,Florida National University-Main Campus,20995.0,20361.0,20019.0,21026.0,21783.0,23385.0,NaN,NaN,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
16,ITT Technical Institute-Fort Lauderdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ITT Technical Institute-Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,City College-Miami,17424.0,19367.0,17505.0,16902.0,23478.0,NaN,NaN,NaN,18087.0,21211.0,24603.0,24603.0,NaN,16430.0,16454.0,18599.0,22389.0,NaN
19,Advance Science College,20564.0,19299.0,18442.0,22606.0,NaN,NaN,NaN,NaN,21375.0,NaN,NaN,NaN,NaN,20498.0,NaN,NaN,NaN,NaN
20,Universal Career School,19700.0,19740.0,19785.0,19700.0,NaN,NaN,NaN,NaN,19740.0,NaN,NaN,NaN,NaN,19785.0,NaN,NaN,NaN,NaN
21,Brown Mackie College-Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,SABER College,15595.0,15785.0,14778.0,15801.0,15409.0,NaN,NaN,NaN,17155.0,17161.0,17140.0,NaN,NaN,14702.0,15507.0,16353.0,NaN,NaN
23,Miami Regional University,26132.0,30232.0,26875.0,20252.0,20501.0,20806.0,20842.0,15499.0,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
24,Miami Regional University,26132.0,30232.0,26875.0,20252.0,20501.0,20806.0,20842.0,15499.0,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
25,Orion College,18650.0,18726.0,18051.0,18727.0,17909.0,23174.0,NaN,NaN,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN
26,Orion College,18650.0,18726.0,18051.0,18727.0,17909.0,23174.0,NaN,NaN,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN
27,Future-Tech Institute,5553.0,5021.0,4945.0,5553.0,NaN,NaN,NaN,NaN,5021.0,NaN,NaN,NaN,NaN,4945.0,NaN,NaN,NaN,NaN
28,American Medical Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,West Coast University-Miami,27504.0,35845.0,32216.0,27570.0,27103.0,NaN,NaN,NaN,35845.0,NaN,NaN,NaN,NaN,32216.0,NaN,NaN,NaN,NaN
30,Florida Career College,26057.0,28300.0,45913.0,25947.0,27125.0,28320.0,30792.0,NaN,28305.0,28452.0,29985.0,32272.0,NaN,46544.0,45941.0,48481.0,50044.0,NaN
31,Florida Career College-Lauderdale Lakes,25502.0,27616.0,42901.0,25592.0,25106.0,28454.0,30629.0,29629.0,27652.0,27200.0,28552.0,NaN,NaN,43283.0,43203.0,45566.0,NaN,NaN
32,Florida Career College-Kendall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Med-Life Institute-Lauderdale Lakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Hope College of Arts and Sciences,27564.0,NaN,NaN,27974.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Fortis College-Cutler Bay,25673.0,NaN,NaN,25878.0,26497.0,NaN,30292.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
Table_last=Table_last.merge(final_df[["INSTNM","AWLEVEL","NPGRN2_1617","NPGRN1_1617","NPGRN0_1617","NPT412_1617","NPT422_1617","NPT432_1617","NPT442_1617","NPT452_1617","NPT411_1617","NPT421_1617","NPT431_1617","NPT441_1617","NPT451_1617","NPT410_1617","NPT420_1617","NPT430_1617","NPT440_1617","NPT450  _1617"]],on=["INSTNM","AWLEVEL"])

In [70]:
Table_last

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,NPT411_1617,NPT421_1617,NPT431_1617,NPT441_1617,NPT451_1617,NPT410_1617,NPT420_1617,NPT430_1617,NPT440_1617,NPT450 _1617
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,22993.0,22271.0,24266.0,26834.0,27321.0,21083.0,22580.0,23400.0,27718.0,26046.0
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,26911.0,18903.0,23046.0,28385.0,37351.0,25202.0,24745.0,30380.0,31921.0,39742.0
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,17155.0,17161.0,17140.0,NaN,NaN,14702.0,15507.0,16353.0,NaN,NaN
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,17981.0,17255.0,23647.0,24957.0,31616.0,22047.0,21820.0,25308.0,28944.0,29351.0
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,31950.0,32277.0,NaN,NaN,NaN,41450.0,41497.0,44494.0,NaN,NaN
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,25674.0,27824.0,29231.0,29616.0,29832.0,24669.0,28826.0,28493.0,28826.0,28826.0
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,27652.0,27200.0,28552.0,NaN,NaN,43283.0,43203.0,45566.0,NaN,NaN
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,35845.0,NaN,NaN,NaN,NaN,32216.0,NaN,NaN,NaN,NaN
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,19740.0,NaN,NaN,NaN,NaN,19785.0,NaN,NaN,NaN,NaN
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,20730.0,21796.0,NaN,NaN,NaN,22545.0,23268.0,28208.0,NaN,NaN
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,18087.0,21211.0,24603.0,24603.0,NaN,16430.0,16454.0,18599.0,22389.0,NaN
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,28305.0,28452.0,29985.0,32272.0,NaN,46544.0,45941.0,48481.0,50044.0,NaN
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,15760.0,18146.0,16797.0,19789.0,19870.0,22957.0,25705.0,27326.0,28380.0,27008.0
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,21375.0,NaN,NaN,NaN,NaN,20498.0,NaN,NaN,NaN,NaN
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,5021.0,NaN,NaN,NaN,NaN,4945.0,NaN,NaN,NaN,NaN

In [71]:
Table_last.to_csv(path_to_processed_data+"AnalysisAndFindings_485272_rerun.csv",index=False)